
@font-face{ 
    font-family: 'AGENCYR';
    src:url('../fonts/AGENCYR.eot');
    src: url('../fonts/AGENCYR.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AGENCYR.woff') format('woff'),
        url('../fonts/AGENCYR.ttf') format('truetype'),
        url('../fonts/AGENCYR.svg#webfont') format('svg');
}
body {
    margin: 0;
    background: #333; 
    font-family:Arial, Helvetica, sans-serif;
}
.holder
{
    background-image:url(../images/owl.flat.png);
    /*background-position:center;*/
    background-repeat:no-repeat;
    background-size:cover;
}
.videobox{ margin:80% auto 0%; 
           position:absolute; 
           z-index:1000;}
.downloadbut{ padding:6px 15px; 
              background:#9e0101; 
              color:#fff; 
              font-size:14px; 
              text-align:center;
              border-radius:1px; 
              margin:10px auto;
              display:block; width:100%;}
.downloadbut:hover,.downloadbut:focus,.downloadbut:active:focus{
    color:#fff;
    outline:0;}
.videobox p{ margin:0;}
.videobox p a{   
    text-align: center;    display: block;   
    color: #06C;
    margin:0;}
.videobox p a:hover{ color:#03C;}
.holder1
{
    background-image:url(../images/second%20owl.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.bordered
{
    background:#A8060B;
    background:-webkit-linear-gradient(#F00,#A8060B);
    background:-moz-linear-gradient(#F00,#A8060B);
    background:-o-linear-gradient(#F00,#A8060B);
    min-height: 20px;
}
.wrapper
{
    margin:0;
    padding:0;
    background:#333;	
}
.header
{
    background:#FFF;
}
.menustrip
{
    background:#A8060B;
    background:-webkit-linear-gradient(#F00,#A8060B);
    background:-moz-linear-gradient(#F00,#A8060B);
    background:-o-linear-gradient(#F00,#A8060B);
    min-height: 10px;
}
.menustrip h4
{
    font-size: 30px;
    font-weight: bold;
    font-family: 'AGENCYR';
    color: #FFF;
    letter-spacing: 15px;
    margin: 0;
    text-align:center;
}
.headlog
{
    /*width:200px;*/
    height:97px;
}
.logdrop {
       background: #fff;
    font-size: 14px;
    padding: 13px 15px;
    font-weight: bold;
    color: #333 !important;
    line-height: 5.9;
    height: 103px;
    text-align: center;
    border-radius: 1px !important;
    border: none;
}
.logdrop:hover,.logdrop:focus,.logdrop:active:focus {

background:#fff !important;	
outiline:0;
color:#333;
}
.dropimg
{
    height:50px;
    width:50px;
    display:inline-block;
}
.list-group
  {
	 margin-bottom:0;
  }
  #mainmenu {
        background: #333;
        height: 50px;
    }

    .pos-absolute {
        position: absolute;
       /* border-left: 2px solid #87a237;*/
        z-index: 999;
		min-width:160px;
		left:initial;
		right:0;
    }
    .menu-ico-collapse {
        font-size: 8px;
        margin-left: 2px;
    }

    #mainmenu .list-group {
      margin-bottom: 20px;
      padding-left: 0;
      float: left;
      display: inline;
    }
    #mainmenu .list-group-item {
      display: block;
      height: 50px;
      margin-bottom: -1px;
      background-color: #333;
      border: 0;
      line-height: 27px;
    }
    #mainmenu .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    #mainmenu .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    #mainmenu .list-group-item > .badge {
      float: right;
    }
    #mainmenu .list-group-item > .badge + .badge {
      margin-right: 5px;
    }
    #mainmenu a.list-group-item {
      color: #fff;
      font-weight: normal;
      border: 0;
      border-right: 1px solid #7c7c7c;
        -webkit-transition: background-color 100ms linear;
        -moz-transition: background-color 100ms linear;
        -o-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        
    }
    #mainmenu a.list-group-item .list-group-item-heading {
      color: #333333;
    }
    #mainmenu a.list-group-item:hover,
    #mainmenu a.list-group-item:focus {
      text-decoration: none;
      background-color: #87a237;
    }
    #mainmenu a.list-group-item.active,
    #mainmenu a.list-group-item.active:hover,
    #mainmenu a.list-group-item.active:focus {
      z-index: 2;
      color: #ffffff;
      background-color: #87a237;
      border: 0;
    }

    #mainmenu .panel {
      margin-bottom: 20px;
      background-color: #ffffff;
    border: 0;
      border-radius: 0px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
  
  
.lftcont
{

}
.experie
{
    color:#FFF;
    font-size:60px;
    font-family: 'AGENCYR';
    font-weight:bold;
    margin-bottom: 20px;
    margin-top: 70px;
}
.insired
{
    color:#F00;
    font-size:60px;
    font-family: 'AGENCYR';
    font-weight:bold;

    margin:40px 0;
}
.textbtm {
    color: #FFF;
    font-size: 21px;
    font-family: 'AGENCYR';
    margin: 28px 0;
   /* width: 40%;*/
}
.insightimg {
    /* position: relative; */
    /* right: 0; */
    /* bottom: 0px; */
    width: 53%;
    /* height: 60px; */
    /* float: right; */
    margin: auto;
}
.insightimg img
{
    width:80%;
    margin:auto;

}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.liberary
{
    background:#C00;
    color:#fff;
    padding:6px 12px;
    font-size:13px;
    width:100%;
    height:52px;
    box-shadow: inset 0px 6px 3px rgba(255,255,255,0.6), inset 5px 0px 4px rgba(0,0,0,0.3), inset -5px 0px 4px rgba(0,0,0,0.3);
    white-space: normal;
    font-weight:600;
    text-transform:uppercase;	
}
.liberary:hover,.liberary:focus,.liberary:active:focus
{
    color:#FFF;
    background:#C00;
    outline:0;
}
.sheet
{
    padding:20px 0;
}
.stopfade { 
    opacity: .5;
}
/*#polina { 
   font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
   font-weight:100; 
   background: rgba(0,0,0,0.5);
   background-image:url(../images/logback.png);
   background-position:center;
   background-size:cover;
   color: white;
   padding: 2rem;
   width: 33%;
   margin:7% auto;
   float: right;
    position:absolute;
  right:20px;
   font-size: 1.2rem;
   
}*/
#polina { 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    /* background: rgba(0,0,0,0.5); */
    background-image: url(../images/logback.png);
    background-position: center;
    background-size: cover;
    color: white;

    /* width: 63%*/;
    margin: 25% auto 10%;
    /* float: right; */
    /*   position: absolute;
       right: 32px;*/
    font-size: 1.2rem;
}
#polina form
{
    padding:2rem;
}
#polina1
{ 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100; 
    background-image: url(../images/logback.png);
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
   /* margin:2% auto;*/
    margin:7% auto;

    font-size: 1.2rem;
}
#polina1 form
{
    padding:2rem;
}
/*.agnhead
{
    width:300px;
    height:100px;
    margin:auto;
}*/

.agnhead {    width: 230px;  
             height: 55px;  
             margin: auto;
			 position: absolute;
    left: 45%;
	top:20px;
}
.imglog
{
    width:200px;
    height:100px;
    margin:auto;
}
.logtxt
{
    height:45px;
    border:1px solid #ddd;
    border-radius:1px;
    margin-bottom:10px;
}
.logtxt:focus
{
    box-shadow:none;
}
.symbolism
{
    border-radius:1px;
    background:#069;
    color:#FFF;
    border:none;
    font-size:25px;
}
.submitfrm
{
    display: block;
    width: 80%;
    padding: 10px 10px;
    border: none; 
    margin: 1rem auto; 
    font-size: 14px;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px; 
    cursor: pointer;
    transition: .3s background;
}
.submitfrm:hover
{
    color:#FFF;
    background: rgba(0,0,0,0.5);
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
}
/*#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}*/
/*#polina button:hover { 
   background: rgba(0,0,0,0.5);
}*/

.mycon
{
    font-size:15px;
    text-align:center;
    color:#FFF;
}
.mycon a
{
    color:#F00;
    padding:5px;
    font-weight:500;
    background:rgba(0,0,0,0.9);
}
.mycon a:hover
{
    color:#FFF;
    text-decoration:none;
    outline:0;
    background:rgba(0,0,0,0.9);
}
.searchbutton
{
    display: inline-block;
    padding: 15px 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #C00;
    border: none;
    height:50px;
    width:30%
}
.searchbutton:hover,.searchbutton:focus,.searchbutton:active:focus
{
    outline:0;
}
/*.searchinut
{
        display:inline-block;
        height:50px;
        width:70%;
        border-radius:1px;
            margin-left: -4px;
}*/
.searchinut {
    display:inline-block;
    background-color: #FFF;
    border: none;
    border-radius: 1px;
    height:50px;
    width:70%;
    margin-left: -4px;
    padding-right: 10px;
    font-size: 16px;
    color: #676863;
    /*  text-transform:uppercase;*/
    background:url('../images/60995.png') no-repeat right #fff;
    -webkit-appearance: none;
    background-position: 96% 20px;
}
.searchinuttext {
    display:inline-block;
    background-color: #FFF;
    border: none;
    border-radius: 1px;
    height:50px;
    width:70%;
    margin-left: -4px;
    padding-right: 10px;
    font-size: 16px;
    color: #676863;
    /*  text-transform:uppercase;*/

    -webkit-appearance: none;
    background-position: 96% 20px;
}






.addgroup {
    display:inline-block;
    background-color: #FFF;
    border: none;
    border-radius: 1px;
    height:50px;
    width:70%;
    margin-left: -4px;
    padding-right: 10px;
    font-size: 16px;
    color: #676863;
    /*  text-transform:uppercase;*/

    -webkit-appearance: none;
    background-position: 96% 20px;
}




.mnage
{
    font-size:30px;
    letter-spacing:10px;
    color:#fff;
    font-weight:bold;
    margin:10px 0;
    text-align:center;
    font-family: 'AGENCYR';
}
.mytable
{

    background-color:#a5a5a5;
}
.mytable>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 4px solid #fff;
    color:#FFF;
    background:#C00;
    text-align:center;
    text-transform:uppercase;
}
.mytable>tbody>tr>td
{
    text-align:center;
    color:#fff;
    border-top:none;
    text-transform:uppercase;
    vertical-align:middle;
}
.mytable>tbody>tr:nth-of-type(odd) {
    background-color: #838383;
}
.footer1
{
    background:#A8060B;
    background:-webkit-linear-gradient(#F00,#A8060B);
    background:-moz-linear-gradient(#F00,#A8060B);
    background:-o-linear-gradient(#F00,#A8060B);
    position:fixed;
    width:100%;
    bottom:0;
}
.footer1 p
{
    color:#FFF;
    font-size:16px;
    text-align:center;
    margin:10px 0;
}
.footer
{
    background:#A8060B;
    background:-webkit-linear-gradient(#F00,#A8060B);
    background:-moz-linear-gradient(#F00,#A8060B);
    background:-o-linear-gradient(#F00,#A8060B);
}
.footer p
{
    color:#FFF;
    font-size:16px;
    text-align:center;
    margin:10px 0;
}
.crea
{
    vertical-align:middle;
    display:block;
    margin:15px auto;
    height: 72px;
}
.paragraph
{
    background:#C00;
    padding:5px;
    font-size:16px;
    color:#FFF;
    text-align:justify;
}
.label-form
{
    padding:10px;
    font-size:16px;
    color:#FFF;
    text-align:center;
    background:#C00;
    height:40px;
    text-transform:uppercase;
    font-weight:bold;
}
.inputform
{
    height:40px;
    border-radius:1px;
    border:1px solid #ddd;
    width:100% !important;
    /*	text-transform:uppercase;*/
}
.inputform:focus
{
    box-shadow:none;
    outline:0;
}
.sheet form
{
    margin-top:20px;
}
.spc
{
    padding:0;
}
.topspc
{
    margin:15px 0;
}
.empbox
{
    background:#e7e7e7;
    border:none;
}
.empbox>thead>tr>th
{
    color:#fff;
    height:40px;
    width:50px;
    vertical-align:middle;
    text-align:center;
    font-weight:normal;
    border:1px solid #333;
    background:#333 !important;
}
.empbox>tbody>tr>td

{
    height:40px;
    width:50px;
    vertical-align:middle;
    text-align:center;
    border:1px solid #ddd;
    color:#FFF;
    padding:0;
}
.empbox>tbody>tr:nth-of-type(odd)
{
    background:#cbcbcb;
}
.empbox tr td:last-child 
{
    background:#333;
    border:1px solid #333;
    color:#fff;
    vertical-align:middle;
    text-align:center
}
.empbox tr td:first-child
{
    background:#7f7f7f;
}
.red
{
    background-color:#C00 !important;
}
.addons
{
    height:50px;
    width:50px;
    display:inline-block;
    vertical-align: middle;
}
.addhead
{
    font-size:20px;
    color:#fff;
    display:inline-block;
    margin:10px 0; 
    text-transform:uppercase;
    vertical-align: middle;
}
.subimage
{
    height:55px;
    width:100%;
    vertical-align:middle;

}
.logheader
{
    background:#FFF;
    margin-bottom:10px;
}
.editbut
{
    color:#FFF;

}
.editbut:hover,.editbut:focus,.editbut:active:focus
{
    color:#FFF;
    text-decoration:none;
}
.lftspc
{
    padding:10px 20px;
}
.sidelog
{
    width:100%;
}
.tableinput
{
    height: 50px;
    margin: 0;
    border-radius: 1px;
    background: transparent;
    border: none;
}
.tableinput:focus
{
    box-shadow:none;
    outline:0;
}
.chromeex
{
    background:#C00;
    padding:8px 10px;
    width:100%;
    color:#FFF;
    vertical-align:middle;
    font-size:12px;
    text-transform:uppercase;
    font-weight:bold;

}
.chromeex img
{
    width:30px;
    height:30px;
    margin-right:5px;
    vertical-align:middle;
}
@media screen and (max-width: 500px) { 
    div{width:100%;} 
    #polina
    {
        width:50%;
    }
}
@media screen and (max-device-width: 800px) {

    #bgvid { display: none; }
}


@media only screen and (max-width:1366px) {
    .experie {
        color: #FFF;
        font-size: 50px;
        font-family: 'AGENCYR';
        font-weight: bold;
        margin-bottom: 12px;
        margin-top: 40px;
    }
    .insired {
        color: #F00;
        font-size: 50px;
        font-family: 'AGENCYR';
        font-weight: bold;
        margin: 20px 0;
    }
    .imglog {
        width: 170px;
        height: 80px;
        margin: auto;
    }
    h1 {
        font-size: 2rem;
        text-transform: uppercase;
        margin-top: 0;
        letter-spacing: .3rem;
    }
    .symbolism {
        border-radius: 1px;
        background: #069;
        color: #FFF;
        border: none;
        font-size: 20px;
    }
    .logtxt {
        height: 36px;
        border: 1px solid #ddd;
        border-radius: 1px;
        margin-bottom: 5px;
    }
    .textbtm {
        color: #FFF;
        font-size: 21px;
        font-family: 'AGENCYR';
        margin: 20px 0;
      /*  width: 50%;*/
    }
    .insightimg {
        /* position: relative; */
        /* right: 0; */
        /* bottom: 0px; */
        width: 66%;
        /* height: 60px; */
        /* float: right; */
        margin: auto;
    }
    .insightimg img {
        width: 78%;
        margin: auto;
    }
    .agnhead {
         height: 57px;    margin: auto;
    }
    #polina1 form
    {
        padding:5px;
    }
    #polina1 {
        font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
        font-weight: 100;
        background-image: url(../images/logback.png);
        background-position: center;
        background-size: cover;
        color: white;
        width: 100%;
        margin: 2% auto;
        font-size: 1.2rem;
    }
    #polina
    {
        margin: 11% auto 10%;
    }
    .lftspc {
        padding: 23px 20px;
    }
	
	.agnhead {
    width: 264px;
    height: 77px;
	}
	#polina1
	{
	margin:10% auto;
	}
	
	
}
@media only screen and (max-width:1280px) {
    .experie {
        color: #FFF;
        font-size: 50px;
        font-family: 'AGENCYR';
        font-weight: bold;
        margin-bottom: 12px;
        margin-top: 50px;
    }
    .insired {
        color: #F00;
        font-size: 50px;
        font-family: 'AGENCYR';
        font-weight: bold;
        margin: 27px 0;
    }
    #polina {
        font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
        font-weight: 100;
        /* background: rgba(0,0,0,0.5); */
        background-image: url(../images/logback.png);
        background-position: center;
        background-size: cover;
        color: white;
        /* width: 63%; */
        margin: 8% auto 3%;
        /* float: right; */
        font-size: 1.2rem;
    }
    #polina1 {
        font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
        font-weight: 100;
        background-image: url(../images/logback.png);
        background-position: center;
        background-size: cover;
        color: white;
        width: 100%;
        margin: 1% auto;
        font-size: 1.2rem;
    }
    
    .videobox {  
        margin: 50% auto 0%;   
        position: absolute;  
        z-index: 100;
    }
    #polina1
	{
	margin:10% auto;
	}
	
    .agnhead
	{
	left:45%;
	}
	.sidelog
	{
	margin-top:20px;
	}
    
    
    
}

@media only screen and (max-width:1024px) {

    .crea {
        display: block;
        margin: 22px auto;
        vertical-align: middle;
    }
    .textbtm {
        color: #FFF;
        font-size: 21px;
        font-family: 'AGENCYR';
        margin: 10px 0;
       /* width: 70%;*/
    }
    .experie {
        color: #FFF;
        font-size: 48px;
        font-family: 'AGENCYR';
        font-weight: bold;
        margin-bottom: 12px;
        margin-top: 50px;
    }
    .insired {
        color: #F00;
        font-size: 48px;
        font-family: 'AGENCYR';
        font-weight: bold;
        margin: 30px 0;
    }
    #polina1 {
        font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
        font-weight: 100;
        background-image: url(../images/logback.png);
        background-position: center;
        background-size: cover;
        color: white;
        width: 100%;
        margin: 1% auto;
        font-size: 1.2rem;
    }

    #polina {
        margin: 27% auto 10%;
    }
	#polina1
	{
	margin:10% auto;
	}
	
	.agnhead
	{
	left:45%;
	}
	.sidelog
	{
	margin-top:20px;
	}
	
}



@media only screen and (max-width:980px) {
    .subimage {
        height: 60px;
        width: 100%;
    }
    .addhead {
        font-size: 14px;
    }
    .logdrop {
        background: #fff none repeat scroll 0 0;
        border-radius: 1px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        height: 56px;
        line-height: 1.9;
        padding: 1px 2px;
        text-align: right;
    }
    .headlog {
        height: 97px;
        margin: auto;
    }
    .crea {
        display: block;
        height: auto;
        margin: 12px auto;
        vertical-align: middle;
    }
    #polina {
        background-image: url("../images/logback.png");
        background-position: center center;
        background-size: cover;
        color: white;
        font-family: Agenda-Light,Agenda Light,Agenda,Arial Narrow,sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
        margin: 13% auto 10%;
        width: 50%;
    }
	.agnhead
	{
	left:30%;
	}
	#polina1
	{
	margin:35% auto;
	}
}

@media only screen and (max-width:800px) {
    .subimage {
        height: 60px;
        width: 100%;
    }
    .addhead {
        font-size: 14px;
    }
    .logdrop {
        background: #fff none repeat scroll 0 0;
        border-radius: 1px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        height: 56px;
        line-height: 1.9;
        padding: 1px 2px;
        text-align: right;
    }
    .headlog {
        height: 97px;
        margin: auto;
    }
    .crea {
        display: block;
        height: auto;
        margin: 12px auto;
        vertical-align: middle;
    }
    #polina {
        background-image: url("../images/logback.png");
        background-position: center center;
        background-size: cover;
        color: white;
        font-family: Agenda-Light,Agenda Light,Agenda,Arial Narrow,sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
        margin: 13% auto 10%;
        width: 50%;
    }
	.agnhead
	{
	left:35%;
	}
	#polina1
	{
	margin:20% auto;
	}
}
@media only screen and (max-width:768px) {
    .subimage {
        height: 60px;
        width: 100%;
    }
    .addhead {
        font-size: 14px;
    }
    .logdrop {
        background: #fff none repeat scroll 0 0;
        border-radius: 1px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        height: 56px;
        line-height: 1.9;
        padding: 1px 2px;
        text-align: right;
    }
    .headlog {
        height: 97px;
        margin: auto;
    }
    .crea {
        display: block;
        height: auto;
        margin: 12px auto;
        vertical-align: middle;
    }
    #polina {
        background-image: url("../images/logback.png");
        background-position: center center;
        background-size: cover;
        color: white;
        display: block;
        font-family: Agenda-Light,Agenda Light,Agenda,Arial Narrow,sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
        margin: auto;
        padding: 2rem;
        position: relative;
        right: 0px;
        width: 50%;
    }
    .insightimg {
        bottom: 0;
        float: none;
        position: relative;
        right: 0;
        width: 60%;
        margin:auto;
    }
	.agnhead
	{
	left:38%;
	}
	#polina1
	{
	margin:20% auto;
	}
}
@media only screen and (max-width: 640px) {

    .addhead {
        font-size: 11px;
    }
    .footer p
    {
        font-size:16px;
    }
    .footer1 p
    {
        font-size:16px;
    }
    .subimage {
        height: 60px;
        margin: auto;
        width: 35%;
    }
    .logdrop {
        background: #fff none repeat scroll 0 0;
        border-radius: 1px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        height: 56px;
        line-height: 1.9;
        padding: 1px 2px;
        text-align: right;
    }
    .headlog {
        height: 97px;
        margin: auto;
    }
    .crea {
        display: block;
        height: auto;
        margin: 12px auto;
        vertical-align: middle;
    }
    #polina {
        background-image: url("../images/logback.png");
        background-position: center center;
        background-size: cover;
        color: white;
        display: block;
        font-family: Agenda-Light,Agenda Light,Agenda,Arial Narrow,sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
        margin: auto;
        padding: 2rem;
        position: relative;
        right: 0px;
        width: 60%;
    }
    .insightimg {
        bottom: 0;
        float: none;
        position: relative;
        right: 0;
        width: 60%;
        margin:auto;
    }
    .textbtm {
        color: #fff;
        font-family: "AGENCYR";
        font-size: 21px;
        margin: 10px 0;
        width: 100%;
    }
	.agnhead
	{
	left:30%;
	}
	#polina1
	{
	margin:20% auto;
	}
}
@media only screen and (max-width: 480px) {
    .addhead {
        font-size: 11px;
    }
    .footer p
    {
        font-size:16px;
    }
    .footer1 p
    {
        font-size:16px;
    }
    .subimage {
        height: 60px;
        margin: auto;
        width: 48%;
    }
    .logdrop {
        background: #fff none repeat scroll 0 0;
        border-radius: 1px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        height: 56px;
        line-height: 1.9;
        padding: 1px 2px;
        text-align: right;
    }
    .crea {
        display: block;
        height: auto;
        margin: 22px auto;
        vertical-align: middle;
    }
    .headlog {
        height: 97px;
        margin: auto;
    }
    #polina {
        background-image: url("../images/logback.png");
        background-position: center center;
        background-size: cover;
        color: white;
        display: block;
        font-family: Agenda-Light,Agenda Light,Agenda,Arial Narrow,sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
        margin: auto;
        padding: 2rem;
        position: relative;
        right: 0px;
        width: 100%;
    }
    .insightimg {
        bottom: 0;
        float: right;
        position: relative;
        right: 0;
        width: 100%;
    }
    .textbtm {
        color: #fff;
        font-family: "AGENCYR";
        font-size: 21px;
        margin: 10px 0;
        width: 100%;
    }
	.agnhead
	{
	left:13%;
	}
	#polina1
	{
	margin:30% auto;
	}
}
@media only screen and (max-width: 360px) {
    .addhead {
        font-size: 11px;
    }
    .footer p
    {
        font-size:16px;
    }
    .footer1 p
    {
        font-size:16px;
    }
    .subimage {
        height: 50px;
        margin: auto;
        width: 48%;
    }
    .logdrop {
        background: #fff none repeat scroll 0 0;
        border-radius: 1px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        height: 56px;
        line-height: 1.9;
        padding: 1px 2px;
        text-align: right;
    }
    .headlog {
        height: 97px;
        margin: auto;
    }
    .crea {
        display: block;
        height: auto;
        margin: 22px auto;
        vertical-align: middle;
    }
    #polina {
        background-image: url("../images/logback.png");
        background-position: center center;
        background-size: cover;
        color: white;
        display: block;
        font-family: Agenda-Light,Agenda Light,Agenda,Arial Narrow,sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
        margin: auto;
        padding: 2rem;
        position: relative;
        right: 0px;
        width: 100%;
    }
    .insightimg {
        bottom: 0;
        float: none;
        position: relative;
        right: 0;
        width: 100%;
    }
    .textbtm {
        color: #fff;
        font-family: "AGENCYR";
        font-size: 21px;
        margin: 10px 0;
        width: 100%;
    }
	.agnhead
	{
	left:13%;
	}
	#polina1
	{
	margin:30% auto;
	}
}
@media only screen and (max-width: 320px) {


    .addhead {
        font-size: 11px;
    }
	.agnhead
	{
	left:13%;
	}
    .footer p
    {
        font-size:16px;
    }
    .footer1 p
    {
        font-size:16px;
    }

    .subimage {
        height: 50px;
        margin: auto;
        width: 48%;
    }
    .logdrop {
        background: #fff none repeat scroll 0 0;
        border-radius: 1px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        height: 56px;
        line-height: 1.9;
        padding: 1px 2px;
        text-align: right;
    }
    .headlog {
        height: 97px;
        margin: auto;
    }
    .crea {
        display: block;
        height: auto;
        margin: 22px auto;
        vertical-align: middle;
    }
    #polina {
        background-image: url("../images/logback.png");
        background-position: center center;
        background-size: cover;
        color: white;
        display: block;
        font-family: Agenda-Light,Agenda Light,Agenda,Arial Narrow,sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
        margin: auto;
        padding: 2rem;
        position: relative;
        right: 0px;
        width: 100%;
    }
	#polina1
	{
	margin:30% auto;
	}
    .insightimg {
        bottom: 0;
        float: right;
        position: relative;
        right: 0;
        width: 100%;
    }
    .textbtm {
        color: #fff;
        font-family: "AGENCYR";
        font-size: 21px;
        margin: 10px 0;
        width: 100%;
    }
    .gclass{
        background: #c00;
        border: 1px solid #fff;
        color: #fff;
        padding:3px 15px;
        float:right;
        margin-left:10px;
        margin-bottom: 10px;

    }

}