.holder
{
	margin:0px;
	padding:0px;
	background-image:url(../images/501195539.jpg);
	background-repeat:repeat;
	background-position:center;
	padding:8% 0px 9% 0;
}
.holder h4
{
	font-size:20px;
	color:#000;
	text-align:center;
	    font-family: 'Roboto Condensed', sans-serif;
		margin:20px 0px;
}
.holder h3 a
{
	font-size:14px;
	/*text-align:center;*/
	color:#000;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration:none;
}
.holder h3
{
	text-align:center;
}
body
{
	margin:0px;
	padding:0px;
	    font-family: 'Roboto Condensed', sans-serif;
}
.logwrap
{
	background-color:#FFF;
	padding:20px;
	box-shadow: 0px 0px 26px #888888;
}
.logo
{
	width:30%;
	vertical-align:central;
	margin:1% auto 1%;
}
.profiledp
{
	padding:10px;
	border-radius:50%;
	background-color:#D9060C;
	height:100px;
	width:100px;
	margin:8% auto 5%;
	
}
.profiledp>i.fa
{
	color:#FFF;
	font-size:80px;
	text-align:center;
	margin:0% 9px;
}
.login
{
	border-radius:1px;
	height:40px;
	border:1px solid #ddd;
}
.login:focus
{
	box-shadow:none;
	border-color:#06C;
}
.setup
{
	margin:5% auto 5%;
}
.loginbutton
{
	background-color:#0052a5;
	color:#FFF;
	width:100%;
	padding:8px 10px;
	font-size:13px;
	border-radius:1px;
}
.loginbutton:hover,.loginbutton:focus
{
	color:#FFF;
}
.logoside
{
	width:90px;
	display:inline-block;
}
.signin
{
	width:105px;
	display:inline-block;
	float:right;
	margin-top:8px;
}
.headtop
{
	padding:5px 0px;
	background-color:#d9dee7;
}
.contentform
{
	/*background-image:url(../images/download-hd-wallpaper-7.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;*/
	padding:20px;
	
}
.formclas
{
	background:rgba(0,0,0,0.8);
	/*background-color:#d9dee7;*/
	/*background-color:#000;*/
	border:1px solid #ddd;
	padding:0px;
}
.contentform h4
{
	font-size:30px;
	text-align:center;
	color:#000;
	margin:0px 0px 30px 0px;
	font-weight:100;
}
.setform
{
	margin-top:20px;
}
.submitbut
{
	background-color:#06C;
	width:100%;
	padding:8px 10px;
	color:#FFF;

}
.submitbut:hover,.submitbut:focus
{
	color:#FFF;
}
.selcto
{
	background-color:#d9dee7;
	color:#000;
	border-radius:1px;
	height:40px;
	border-radius:1px;
	padding:5px 5px;
}
.selcto select
{
	background-color:transparent;
	
	
}
.selcto select:focus
{
	outline:none;
	box-shadow:none;
}
.logohead
{
	display:inline-block;
	width:60px;
}
.abouttop
{
	border-bottom:1px solid #f8f8f8;
	padding-bottom:10px;
}
.aboutmen
{
	margin:0px;
	padding:0px;
	background-color:#000;
}
.aboutmen ul
{
	margin:0px;
	padding:0px;
}
.aboutmen ul li
{
	list-style:none;
	display:inline-block;
}
.aboutmen ul li a
{
	text-decoration:none;
	display:inline-block;
	color:#FFF;
	padding:8px 10px;
	font-size:13px;
}
.aboutmen ul li a:hover
{
	color:#FFF;
	background-color:#999;
}
.aboutwhole
{
	padding:0px 10px 10px 0px;
}
.abouttab
{
	margin:0px;
	padding:0px;
}
.abouttab h4
{
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}
.abouttab ul
{
	margin:0px;
	padding:0px;
}
.abouttab ul li
{
	list-style:none;
}
.abouttab ul li a
{
	display:block;
	font-size:12px;
	color:#000;
	background-color:#FFF;
	padding:5px 10px;
	width:100%;
}
.abouttab ul li a:hover
{
	background-color:#06C;
	color:#FFF;
}
.abouttab ul li a.active
{
	background-color:#06C;
	color:#FFF;
}
.contentabt
{
	padding:10px;
	border-left:1px solid #ddd; 
}
.contentabt h4
{
	font-size:25px;
	font-weight:regular;
	color:#000;
	text-align:left;
	margin:10px 0px;
}
.contentabt p
{
	font-size:12px;
	line-height:20px;
	text-align:justify;
	colro:#000;
	margin:5px 0px;
}
.abtfeat
{
	border:1px solid #ebebeb;
	padding:10px;
	margin:10px 0px;
}
.abtfeat h5
{
	font-size:14px;
	font-weight:bold;
	color:#000;
	margin:5px 0px;
}
.abtfeat p
{
	font-size:12px;
	text-align:justify;
	color:#000;
	margin:5px 0px;
}
.logresponsive
{
 margin-top:10px;
 padding:0px;
}
.logresponsive ul
{
 margin:0px;
 padding:0px;
}
.logresponsive ul li 
{
 display:inline-block;
 padding:0px 5px;
}
.logresponsive ul li a img
{
 height:40px;
 width:165px;
 display:inline-block;
 margin:0px;
}
@media only screen and (max-width: 1024px) {
 

 .logresponsive ul li a img
{
 height: 39px;
display: inline-block;
width: 132px;
margin:0px;
}
 .logresponsive ul li span{

height: 39px !important;
display: inline-block;

}
}

@media only screen and (max-width: 768px) {
 
 .logresponsive ul li a img
{
 height: 51px;
    display: inline-block;
    width: 300px;
 margin: 10px 20px 10px 20px;

}

}
@media only screen and (max-width: 640px) {
 
 .logresponsive ul li a img
{
     height: 56px;
display: inline-block;
width: 280px;
margin:0px;
}
 
}
@media only screen and (max-width: 480px) {
 
 .logresponsive ul li a img
{
     height: 45px;
    display: inline-block;
    width: 200px;
 margin:0px;
}
}
@media only screen and (max-width: 360px) {
 
 .logresponsive ul li a img
{
     height: 37px;
    display: inline-block;
    width: 141px;
 margin:0px;
}

 
}
@media only screen and (max-width: 320px) {
 
.logresponsive ul li a img
{
     height: 37px;
    display: inline-block;
    width: 141px;
 margin:0px;
}

}