@font-face {
	font-family: 'AGENCYR';
	src: url('./AGENCYR.eot');
	src: local('AGENCYR'), url('./AGENCYR.woff') format('woff'), url('./AGENCYR.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_11296">Text with this font applied</p> */
.fontsforweb_fontid_11296 {
	font-family: 'AGENCYR' !important;
}

/* Font downloaded from FontsForWeb.com */