@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?a8jfvl');
  src:  url('../fonts/icomoon.eot?a8jfvl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a8jfvl') format('truetype'),
    url('../fonts/icomoon.woff?a8jfvl') format('woff'),
    url('../fonts/icomoon.svg?a8jfvl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-address:before {
  content: "\e901";
}
.icon-add-widget:before {
  content: "\e902";
}
.icon-analytics:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-blank-star:before {
  content: "\e906";
}
.icon-blog:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-call:before {
  content: "\e909";
}
.icon-check-career:before {
  content: "\e90b";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-color-star:before {
  content: "\e911";
}
.icon-comment:before {
  content: "\e912";
}
.icon-comment-dots:before {
  content: "\e913";
}
.icon-contact-us:before {
  content: "\e914";
}
.icon-creative-professions:before {
  content: "\e915";
}
.icon-delete:before {
  content: "\e916";
}
.icon-diy-art:before {
  content: "\e917";
}
.icon-dollor:before {
  content: "\e918";
}
.icon-donation:before {
  content: "\e919";
}
.icon-drag:before {
  content: "\e91a";
}
.icon-edit:before {
  content: "\e91b";
}
.icon-email:before {
  content: "\e91c";
}
.icon-embed:before {
  content: "\e91d";
}
.icon-facebook:before {
  content: "\e91e";
}
.icon-folder-search-svgrepo-com:before {
  content: "\e91f";
}
.icon-form-man:before {
  content: "\e920";
}
.icon-full-name:before {
  content: "\e936";
}
.icon-general-topics:before {
  content: "\e937";
}
.icon-get-in-touch:before {
  content: "\e938";
}
.icon-google:before {
  content: "\e939";
}
.icon-google-plus:before {
  content: "\e93d";
}
.icon-gray-search:before {
  content: "\e93e";
}
.icon-image:before {
  content: "\e93f";
}
.icon-info:before {
  content: "\e940";
}
.icon-instagram:before {
  content: "\e941";
}
.icon-interpersonal:before {
  content: "\e942";
}
.icon-like:before {
  content: "\e943";
}
.icon-list:before {
  content: "\e944";
}
.icon-logout:before {
  content: "\e945";
}
.icon-mail:before {
  content: "\e946";
}
.icon-manual-work:before {
  content: "\e947";
}
.icon-menu:before {
  content: "\e948";
}
.icon-my-channel:before {
  content: "\e949";
}
.icon-my-orders:before {
  content: "\e94a";
}
.icon-my-profile:before {
  content: "\e94b";
}
.icon-next:before {
  content: "\e94c";
}
.icon-paid-play-btn:before {
  content: "\e94d";
}
.icon-password:before {
  content: "\e94e";
}
.icon-playlist:before {
  content: "\e94f";
}
.icon-presonal-care:before {
  content: "\e950";
}
.icon-prev:before {
  content: "\e951";
}
.icon-Profile:before {
  content: "\e952";
}
.icon-refresh:before {
  content: "\e954";
}
.icon-relationships:before {
  content: "\e955";
}
.icon-search:before {
  content: "\e956";
}
.icon-settings:before {
  content: "\e957";
}
.icon-share:before {
  content: "\e958";
}
.icon-signal:before {
  content: "\e959";
}
.icon-social-mail:before {
  content: "\e95a";
}
.icon-social-share:before {
  content: "\e95b";
}
.icon-sports:before {
  content: "\e95c";
}
.icon-subscribe:before {
  content: "\e95d";
}
.icon-technical-jobs:before {
  content: "\e95e";
}
.icon-thumb-list:before {
  content: "\e95f";
}
.icon-Twitter:before {
  content: "\e960";
}
.icon-unlike:before {
  content: "\e961";
}
.icon-up-arrow:before {
  content: "\e962";
}
.icon-upload:before {
  content: "\e963";
}
.icon-video-camera:before {
  content: "\e965";
}
.icon-view:before {
  content: "\e967";
}
.icon-viewall-right-arrow:before {
  content: "\e968";
}
.icon-website-link:before {
  content: "\e969";
}
.icon-white-Play:before {
  content: "\e96a";
}
