@charset "utf-8";
/* CSS Document */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
	border: 0;
	list-style: none;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu:after,
#cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

#cssmenu #head-mobile {
	display: none
}

#cssmenu {
	font-family: sans-serif;
	background: #fff;
	width: 100%;
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.11);
}



#cssmenu>ul>li {
	float: left;
	margin: 0px 10px;
}

#cssmenu>ul>li>a {
	padding: 10px;
	font-size: 12px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #666;
	padding-bottom: 18px;
}


#cssmenu>ul>li:hover>a,
#cssmenu ul li.active a {
	color: #666;
}
/*#cssmenu>ul>li>a:hover .menu-img{
	margin-bottom: 0;
}*/

#cssmenu>ul>li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
	background: transparent !important;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}


/*#cssmenu>ul>li.has-sub>a {
	padding-right: 30px
}*/

#cssmenu>ul>li.has-sub:after {
	position: absolute;
	bottom: 0px;
	display: none;
	content: '\f107';
	font-family:fontawesome;
	font-size: 20px;
	left:50%;
	-webkit-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	transform: translatex(-50%);
	color: #666;
}

#cssmenu>ul>li.has-sub.user-profile:hover:after {
	display: none;	
}

#cssmenu>ul>li.has-sub:hover:after {
	display: block;
}


#cssmenu>ul>li.has-sub:hover>a:before {
	top: 23px;
	height: 0
}

#cssmenu>ul>li>a.dropdown-toggle:after{
	display: none;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	padding: 10px;
	background: #fff;
	width: 280px;
}
#cssmenu ul ul.dropdown-menu{
	width: 200px;
	margin-top: 0;
}

#cssmenu ul ul li {
	height: auto;
	-webkit--transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
	text-align: left;
}


#cssmenu ul ul li.has-sub a:hover {
	background: #DD5043 !important;
}

#cssmenu li:hover>ul {
	left: auto;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);	
}

#cssmenu li:hover>ul>li {
	height: 45px
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: -10px;
}

#cssmenu ul ul li a {
	font-size: 16px;
	text-decoration: none;
	color: #666;
	font-weight: 400;
	font-family: "Raleway-SemiBold";
	line-height: 45px;
	padding: 0 15px;
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
	border-bottom: 0
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
	color: #fff
}

#cssmenu ul ul li.has-sub>a:after {
	position: absolute;
	font-size: 20px;
	display: block;
	content: '\f105';
	font-family: fontawesome;
	top:0;
	right:10px;
}
#cssmenu ul ul>li.has-sub:hover>a:before {
	top: 17px;
	height: 0
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background: #DD5043;
}
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background: #fff;
}
#cssmenu ul li.has-sub ul li.has-sub ul li:hover a{
	color: #1C17D3;
	background: #fff !important;
}

#cssmenu ul li.has-sub ul li.has-sub ul li a{font-family: 'Raleway';}
#cssmenu ul ul ul li.active a {
	border-left: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a,
#cssmenu>ul ul>li.has-sub>ul>li.active>a {
	border-top: 1px solid #333
}
header nav#cssmenu .logo-bar li.bar i{
	color:#666666;
}
header nav#cssmenu .logo-bar li {
	list-style: none;
	display: inline-block;
	padding-right: 14px;
	padding-left: 14px;
}

header nav#cssmenu .logo-bar .logo {
	border-right: 1px solid #E9E9E9;
	border-left: 1px solid #E9E9E9;
	margin-right: 30px;
	padding: 10px 12px;
}

header nav#cssmenu .logo-bar {
	float: left;
}






















.item.list-group-item {
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
	background: #428bca;
}


.item.list-group-item .thumbnail {
	margin-bottom: 0px;
}

.item.list-group-item .caption {
	padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
	background: #eeeeee;
}

.item.list-group-item:before,
.item.list-group-item:after {
	display: table;
	content: " ";
}

.item.list-group-item img {
	float: left;
}

.item.list-group-item:after {
	clear: both;
}

.list-group-item-text {
	margin: 0 0 11px;
}

.btn-group .icon-list-ul {
	margin-right: 0px;
}

.thumbnail {
	margin-bottom: 20px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.item.list-group-item {
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	padding:0px;
}
.list-group{
	margin-bottom: 0!important;
	padding:15px 30px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
	background: #428bca;
}


.item.list-group-item .thumbnail {
	margin-bottom: 0px;
}

.item.list-group-item .caption {
	padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
	background: #eeeeee;
}

.item.list-group-item:before,
.item.list-group-item:after {
	display: table;
	content: " ";
}

.item.list-group-item img {
	float: left;
}

.item.list-group-item:after {
	clear: both;
}

.list-group-item-text {
	margin: 0 0 11px;
}
.list-group-item .video-section .video-img img{
	width: auto;
}
.list-group-item .video-section .video-img {
	position: relative;
	float: left;
	margin-right: 10px;
}
.list-group-item .video-section {
	padding: 5px;
	border: 1px solid #CCCCCC;
	margin-bottom: 28px;
	background-color: #fff;
	overflow: hidden;
}
.list-group-item .video-section {
	margin-bottom: 0 !important;
}
.list-group-item .video-section .video-btn {
	height: 40px;
	width: auto;
	overflow: hidden;
}
.list-group-item .video-section .video-btn ul{
	float: left;
	width: 100%;
}
.list-group-item .video-section li.care-btn a {
	color: #333333;
	text-decoration: none;
	padding: 8px 5px;
	font-family: 'OpenSans';
	width: 100%;
	display: block;
	height: 100%;
}
.list-group-item .video-section .video-btn li {
	display: inline-block;
	white-space: nowrap;
	width: 49%;
	overflow: hidden;
	text-overflow: "..";
	border: 1px solid #DB4437;
	 padding: 0px !important; 
	height: 40px;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.list-group-item .video-section li.view-btn a {
	color: #333333;
	text-decoration: none;
	padding: 8px 5px;
	display: block;
}
.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:hover, .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus, .btn-group > .btn:hover {
	z-index: 1 !important;
}












.btn,
.form-control,
.link,
.reset {
	background-color: transparent;
	padding: 0;
	border: 0;
	border-radius: 0;
	color: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

select.form-control::-ms-expand {
	display: none
}

textarea {
	resize: vertical;
	overflow: auto;
	vertical-align: top
}

input::-ms-clear {
	display: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}


:root,
[data-theme="default"] {
	--color-primary-darker: hsl(220, 90%, 36%);
	--color-primary-darker-h: 220;
	--color-primary-darker-s: 90%;
	--color-primary-darker-l: 36%;
	--color-primary-dark: hsl(220, 90%, 46%);
	--color-primary-dark-h: 220;
	--color-primary-dark-s: 90%;
	--color-primary-dark-l: 46%;
	--color-primary: hsl(220, 90%, 56%);
	--color-primary-h: 220;
	--color-primary-s: 90%;
	--color-primary-l: 56%;
	--color-primary-light: hsl(220, 90%, 66%);
	--color-primary-light-h: 220;
	--color-primary-light-s: 90%;
	--color-primary-light-l: 66%;
	--color-primary-lighter: hsl(220, 90%, 76%);
	--color-primary-lighter-h: 220;
	--color-primary-lighter-s: 90%;
	--color-primary-lighter-l: 76%;
	--color-accent-darker: hsl(355, 90%, 41%);
	--color-accent-darker-h: 355;
	--color-accent-darker-s: 90%;
	--color-accent-darker-l: 41%;
	--color-accent-dark: hsl(355, 90%, 51%);
	--color-accent-dark-h: 355;
	--color-accent-dark-s: 90%;
	--color-accent-dark-l: 51%;
	--color-accent: hsl(355, 90%, 61%);
	--color-accent-h: 355;
	--color-accent-s: 90%;
	--color-accent-l: 61%;
	--color-accent-light: hsl(355, 90%, 71%);
	--color-accent-light-h: 355;
	--color-accent-light-s: 90%;
	--color-accent-light-l: 71%;
	--color-accent-lighter: hsl(355, 90%, 81%);
	--color-accent-lighter-h: 355;
	--color-accent-lighter-s: 90%;
	--color-accent-lighter-l: 81%;
	--color-black: hsl(240, 8%, 12%);
	--color-black-h: 240;
	--color-black-s: 8%;
	--color-black-l: 12%;
	--color-white: hsl(0, 0%, 100%);
	--color-white-h: 0;
	--color-white-s: 0%;
	--color-white-l: 100%;
	--color-success-darker: hsl(94, 48%, 36%);
	--color-success-darker-h: 94;
	--color-success-darker-s: 48%;
	--color-success-darker-l: 36%;
	--color-success-dark: hsl(94, 48%, 46%);
	--color-success-dark-h: 94;
	--color-success-dark-s: 48%;
	--color-success-dark-l: 46%;
	--color-success: hsl(94, 48%, 56%);
	--color-success-h: 94;
	--color-success-s: 48%;
	--color-success-l: 56%;
	--color-success-light: hsl(94, 48%, 66%);
	--color-success-light-h: 94;
	--color-success-light-s: 48%;
	--color-success-light-l: 66%;
	--color-success-lighter: hsl(94, 48%, 76%);
	--color-success-lighter-h: 94;
	--color-success-lighter-s: 48%;
	--color-success-lighter-l: 76%;
	--color-error-darker: hsl(355, 90%, 41%);
	--color-error-darker-h: 355;
	--color-error-darker-s: 90%;
	--color-error-darker-l: 41%;
	--color-error-dark: hsl(355, 90%, 51%);
	--color-error-dark-h: 355;
	--color-error-dark-s: 90%;
	--color-error-dark-l: 51%;
	--color-error: hsl(355, 90%, 61%);
	--color-error-h: 355;
	--color-error-s: 90%;
	--color-error-l: 61%;
	--color-error-light: hsl(355, 90%, 71%);
	--color-error-light-h: 355;
	--color-error-light-s: 90%;
	--color-error-light-l: 71%;
	--color-error-lighter: hsl(355, 90%, 81%);
	--color-error-lighter-h: 355;
	--color-error-lighter-s: 90%;
	--color-error-lighter-l: 81%;
	--color-warning-darker: hsl(46, 100%, 41%);
	--color-warning-darker-h: 46;
	--color-warning-darker-s: 100%;
	--color-warning-darker-l: 41%;
	--color-warning-dark: hsl(46, 100%, 51%);
	--color-warning-dark-h: 46;
	--color-warning-dark-s: 100%;
	--color-warning-dark-l: 51%;
	--color-warning: hsl(46, 100%, 61%);
	--color-warning-h: 46;
	--color-warning-s: 100%;
	--color-warning-l: 61%;
	--color-warning-light: hsl(46, 100%, 71%);
	--color-warning-light-h: 46;
	--color-warning-light-s: 100%;
	--color-warning-light-l: 71%;
	--color-warning-lighter: hsl(46, 100%, 81%);
	--color-warning-lighter-h: 46;
	--color-warning-lighter-s: 100%;
	--color-warning-lighter-l: 81%;
	--color-bg: hsl(0, 0%, 100%);
	--color-bg-h: 0;
	--color-bg-s: 0%;
	--color-bg-l: 100%;
	--color-contrast-lower: hsl(0, 0%, 95%);
	--color-contrast-lower-h: 0;
	--color-contrast-lower-s: 0%;
	--color-contrast-lower-l: 95%;
	--color-contrast-low: hsl(240, 1%, 83%);
	--color-contrast-low-h: 240;
	--color-contrast-low-s: 1%;
	--color-contrast-low-l: 83%;
	--color-contrast-medium: hsl(240, 1%, 48%);
	--color-contrast-medium-h: 240;
	--color-contrast-medium-s: 1%;
	--color-contrast-medium-l: 48%;
	--color-contrast-high: hsl(240, 4%, 20%);
	--color-contrast-high-h: 240;
	--color-contrast-high-s: 4%;
	--color-contrast-high-l: 20%;
	--color-contrast-higher: hsl(240, 8%, 12%);
	--color-contrast-higher-h: 240;
	--color-contrast-higher-s: 8%;
	--color-contrast-higher-l: 12%
}

[data-theme] {
	background-color: hsl(0, 0%, 100%);
	background-color: var(--color-bg);
	color: hsl(240, 4%, 20%);
	color: var(--color-contrast-high)
}

:root {
	--space-unit: 1em;
	--space-xxxxs: calc(0.125*var(--space-unit));
	--space-xxxs: calc(0.25*var(--space-unit));
	--space-xxs: calc(0.375*var(--space-unit));
	--space-xs: calc(0.5*var(--space-unit));
	--space-sm: calc(0.75*var(--space-unit));
	--space-md: calc(1.25*var(--space-unit));
	--space-lg: calc(2*var(--space-unit));
	--space-xl: calc(3.25*var(--space-unit));
	--space-xxl: calc(5.25*var(--space-unit));
	--space-xxxl: calc(8.5*var(--space-unit));
	--space-xxxxl: calc(13.75*var(--space-unit));
	--component-padding: var(--space-md)
}



.margin-top,
.margin-top--md {
	margin-top: 1.25em;
	margin-top: var(--space-md)
}

.margin-top--xxxxs {
	margin-top: 0.125em;
	margin-top: var(--space-xxxxs)
}

.margin-top--xxxs {
	margin-top: 0.25em;
	margin-top: var(--space-xxxs)
}

.margin-top--xxs {
	margin-top: 0.375em;
	margin-top: var(--space-xxs)
}

.margin-top--xs {
	margin-top: 0.5em;
	margin-top: var(--space-xs)
}

.margin-top--sm {
	margin-top: 0.75em;
	margin-top: var(--space-sm)
}

.margin-top--lg {
	margin-top: 2em;
	margin-top: var(--space-lg)
}

.margin-top--xl {
	margin-top: 3.25em;
	margin-top: var(--space-xl)
}

.margin-top--xxl {
	margin-top: 5.25em;
	margin-top: var(--space-xxl)
}

.margin-top--xxxl {
	margin-top: 8.5em;
	margin-top: var(--space-xxxl)
}

.margin-top--xxxxl {
	margin-top: 13.75em;
	margin-top: var(--space-xxxxl)
}

.margin-bottom,
.margin-bottom--md {
	margin-bottom: 1.25em;
	margin-bottom: var(--space-md)
}

.margin-bottom--xxxxs {
	margin-bottom: 0.125em;
	margin-bottom: var(--space-xxxxs)
}

.margin-bottom--xxxs {
	margin-bottom: 0.25em;
	margin-bottom: var(--space-xxxs)
}

.margin-bottom--xxs {
	margin-bottom: 0.375em;
	margin-bottom: var(--space-xxs)
}

.margin-bottom--xs {
	margin-bottom: 0.5em;
	margin-bottom: var(--space-xs)
}

.margin-bottom--sm {
	margin-bottom: 0.75em;
	margin-bottom: var(--space-sm)
}

.margin-bottom--lg {
	margin-bottom: 2em;
	margin-bottom: var(--space-lg)
}

.margin-bottom--xl {
	margin-bottom: 3.25em;
	margin-bottom: var(--space-xl)
}

.margin-bottom--xxl {
	margin-bottom: 5.25em;
	margin-bottom: var(--space-xxl)
}

.margin-bottom--xxxl {
	margin-bottom: 8.5em;
	margin-bottom: var(--space-xxxl)
}

.margin-bottom--xxxxl {
	margin-bottom: 13.75em;
	margin-bottom: var(--space-xxxxl)
}

:root {
	--container-width-xs: 37.5rem;
	--container-width-sm: 45rem;
	--container-width-md: 64rem;
	--container-width-lg: 80rem;
	--container-width-xl: 90rem
}




@media (min-width: 64rem) {
	.container--adaptive {
		max-width: 64rem;
		max-width: var(--container-width-md)
	}
}

@media (min-width: 90rem) {
	.container--adaptive {
		max-width: 80rem;
		max-width: var(--container-width-lg)
	}
}

.container--adaptive-sm {
	max-width: 37.5rem;
	max-width: var(--container-width-xs)
}


.container--adaptive-md {
	max-width: 37.5rem;
	max-width: var(--container-width-xs)
}



.grid {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -1.25em 0 0 -1.25em;
	margin: calc(var(--space-md)*-1) 0 0 calc(var(--space-md)*-1)
}

.grid>* {
	padding: 1.25em 0 0 1.25em;
	padding: var(--space-md) 0 0 var(--space-md);
	background-clip: content-box;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%
}

.grid-gap--none {
	margin: 0
}

.grid-gap--none>* {
	padding: 0
}

.grid-gap--xs {
	margin: -0.5em 0 0 -0.5em;
	margin: calc(var(--space-xs)*-1) 0 0 calc(var(--space-xs)*-1)
}

.grid-gap--xs>* {
	padding: 0.5em 0 0 0.5em;
	padding: var(--space-xs) 0 0 var(--space-xs)
}

.grid-gap--sm {
	margin: -0.75em 0 0 -0.75em;
	margin: calc(var(--space-sm)*-1) 0 0 calc(var(--space-sm)*-1)
}

.grid-gap--sm>* {
	padding: 0.75em 0 0 0.75em;
	padding: var(--space-sm) 0 0 var(--space-sm)
}

.grid-gap--lg {
	margin: -2em 0 0 -2em;
	margin: calc(var(--space-lg)*-1) 0 0 calc(var(--space-lg)*-1)
}

.grid-gap--lg>* {
	padding: 2em 0 0 2em;
	padding: var(--space-lg) 0 0 var(--space-lg)
}

.grid-gap--xl {
	margin: -3.25em 0 0 -3.25em;
	margin: calc(var(--space-xl)*-1) 0 0 calc(var(--space-xl)*-1)
}

.grid-gap--xl>* {
	padding: 3.25em 0 0 3.25em;
	padding: var(--space-xl) 0 0 var(--space-xl)
}

.col {
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%
}

.col--1 {
	-ms-flex-preferred-size: 8.33%;
	flex-basis: 8.33%;
	max-width: 8.33%
}

.col--2 {
	-ms-flex-preferred-size: 16.66%;
	flex-basis: 16.66%;
	max-width: 16.66%
}

.col--3 {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	max-width: 25%
}

.col--4 {
	-ms-flex-preferred-size: 33.33%;
	flex-basis: 33.33%;
	max-width: 33.33%
}

.col--5 {
	-ms-flex-preferred-size: 41.66%;
	flex-basis: 41.66%;
	max-width: 41.66%
}

.col--6 {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%
}

.col--7 {
	-ms-flex-preferred-size: 58.33%;
	flex-basis: 58.33%;
	max-width: 58.33%
}

.col--8 {
	-ms-flex-preferred-size: 66.66%;
	flex-basis: 66.66%;
	max-width: 66.66%
}

.col--9 {
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%;
	max-width: 75%
}

.col--10 {
	-ms-flex-preferred-size: 83.33%;
	flex-basis: 83.33%;
	max-width: 83.33%
}

.col--11 {
	-ms-flex-preferred-size: 91.66%;
	flex-basis: 91.66%;
	max-width: 91.66%
}

.col--12 {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%
}



.flex {
	display: -ms-flexbox;
	display: flex
}

.flex>* {
	display: inline-block
}

.flex--wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.flex--column {
	-ms-flex-direction: column;
	flex-direction: column
}

.flex--end {
	-ms-flex-pack: end;
	justify-content: flex-end
}

.flex--center {
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center
}

.flex--center-x {
	-ms-flex-pack: center;
	justify-content: center
}

.flex--center-y {
	-ms-flex-align: center;
	align-items: center
}

.flex--space-between {
	-ms-flex-pack: justify;
	justify-content: space-between
}

.flex--space-around {
	-ms-flex-pack: distribute;
	justify-content: space-around
}

.flex--space-evenly {
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly
}

.flex--grow>* {
	-ms-flex-positive: 1;
	flex-grow: 1
}

.flex--shrink-none>* {
	-ms-flex-negative: 0;
	flex-shrink: 0
}

.flex-gap>*,
.flex-gap--md>* {
	margin-right: 1.25em;
	margin-right: var(--space-md)
}

.flex-gap>*:last-child,
.flex-gap--md>*:last-child {
	margin-right: 0
}

.flex--wrap.flex-gap,
.flex--wrap.flex-gap--md {
	margin-bottom: -1.25em;
	margin-bottom: calc(-1*var(--space-md))
}

.flex--wrap.flex-gap>*,
.flex--wrap.flex-gap--md>* {
	margin-bottom: 1.25em;
	margin-bottom: var(--space-md)
}

.flex-gap--xxs>* {
	margin-right: 0.375em;
	margin-right: var(--space-xxs)
}

.flex-gap--xxs>*:last-child {
	margin-right: 0
}

.flex--wrap.flex-gap--xxs {
	margin-bottom: -0.375em;
	margin-bottom: calc(-1*var(--space-xxs))
}

.flex--wrap.flex-gap--xxs>* {
	margin-bottom: 0.375em;
	margin-bottom: var(--space-xxs)
}

.flex-gap--xs>* {
	margin-right: 0.5em;
	margin-right: var(--space-xs)
}

.flex-gap--xs>*:last-child {
	margin-right: 0
}

.flex--wrap.flex-gap--xs {
	margin-bottom: -0.5em;
	margin-bottom: calc(-1*var(--space-xs))
}

.flex--wrap.flex-gap--xs>* {
	margin-bottom: 0.5em;
	margin-bottom: var(--space-xs)
}

.flex-gap--sm>* {
	margin-right: 0.75em;
	margin-right: var(--space-sm)
}

.flex-gap--sm>*:last-child {
	margin-right: 0
}

.flex--wrap.flex-gap--sm {
	margin-bottom: -0.75em;
	margin-bottom: calc(-1*var(--space-sm))
}

.flex--wrap.flex-gap--sm>* {
	margin-bottom: 0.75em;
	margin-bottom: var(--space-sm)
}

.flex-gap--lg>* {
	margin-right: 2em;
	margin-right: var(--space-lg)
}

.flex-gap--lg>*:last-child {
	margin-right: 0
}

.flex--wrap.flex-gap--lg {
	margin-bottom: -2em;
	margin-bottom: calc(-1*var(--space-lg))
}

.flex--wrap.flex-gap--lg>* {
	margin-bottom: 2em;
	margin-bottom: var(--space-lg)
}

.flex-gap--xl>* {
	margin-right: 3.25em;
	margin-right: var(--space-xl)
}

.flex-gap--xl>*:last-child {
	margin-right: 0
}

.flex--wrap.flex-gap--xl {
	margin-bottom: -3.25em;
	margin-bottom: calc(-1*var(--space-xl))
}

.flex--wrap.flex-gap--xl>* {
	margin-bottom: 3.25em;
	margin-bottom: var(--space-xl)
}

.flex-item--end {
	-ms-flex-item-align: end;
	align-self: flex-end
}

.flex-item--grow {
	-ms-flex-positive: 1;
	flex-grow: 1
}

.flex-item--shrink-none {
	-ms-flex-negative: 0;
	flex-shrink: 0
}



.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.text--center {
	text-align: center
}




@-webkit-keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.icon use {
	color: inherit;
	fill: currentColor
}


.btn {
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	white-space: nowrap;
	text-decoration: none;
	line-height: 1;
	padding: 0.5em 0.75em;
	padding: var(--space-xs) var(--space-sm);
	border-radius: 0.25em;
	font-size: 1em;
	font-size: var(--btn-font-size);
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center
}

.btn--primary {
	background-color: hsl(220, 90%, 56%);
	background-color: var(--color-primary);
	color: hsl(0, 0%, 100%);
	color: var(--color-white);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.btn--subtle {
	color: hsl(240, 8%, 12%);
	color: var(--color-contrast-higher);
	border: 1px solid hsl(240, 1%, 83%);
	border: 1px solid var(--color-contrast-low)
}

.btn--accent {
	background-color: hsl(355, 90%, 61%);
	background-color: var(--color-accent);
	color: hsl(0, 0%, 100%);
	color: var(--color-white);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.btn--disabled {
	cursor: not-allowed;
	box-shadow: none;
	opacity: 0.6
}

.btn--sm {
	font-size: 0.8em;
	font-size: var(--btn-sm)
}

.btn--md {
	font-size: 1.2em;
	font-size: var(--btn-md)
}

.btn--lg {
	font-size: 1.4em;
	font-size: var(--btn-lg)
}

.btn--full-width {
	display: -ms-flexbox;
	display: flex;
	width: 100%
}


.form__msg-error::before {
	content: '';
	position: absolute;
	left: 0.75em;
	left: var(--space-sm);
	top: 0;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color: hsl(355, 90%, 61%);
	border-bottom-color: var(--color-error)
}

.form__msg-error--is-visible {
	position: relative;
	clip: auto
}

.radio-list>*,
.checkbox-list>* {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: baseline;
	align-items: baseline;
	margin-bottom: 0.375em;
	margin-bottom: var(--space-xxs)
}

.radio-list>*:last-of-type,
.checkbox-list>*:last-of-type {
	margin-bottom: 0
}

.radio-list label,
.checkbox-list label {
	line-height: 1.4;
	line-height: var(--body-line-height);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.radio-list input,
.checkbox-list input {
	vertical-align: top;
	margin-right: 0.25em;
	margin-right: var(--space-xxxs);
	-ms-flex-negative: 0;
	flex-shrink: 0
}

.radio-list.radio-list--inline,
.radio-list.checkbox-list--inline,
.checkbox-list.radio-list--inline,
.checkbox-list.checkbox-list--inline {
	display: -ms-flexbox;
	display: flex;
	margin-bottom: -1.25em;
	margin-bottom: calc(-1*var(--space-md))
}

.radio-list.radio-list--inline>*,
.radio-list.checkbox-list--inline>*,
.checkbox-list.radio-list--inline>*,
.checkbox-list.checkbox-list--inline>* {
	margin: 0 1.25em 1.25em 0;
	margin: 0 var(--space-md) var(--space-md) 0
}

:root {
	--zindex-header: 2;
	--zindex-popover: 4;
	--zindex-fixed-element: 5;
	--zindex-overlay: 10
}


:root {
	--display: block
}

.is-visible {
	display: block !important;
	display: var(--display) !important
}

.is-hidden {
	display: none !important
}

.sr-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	border: 0;
	white-space: nowrap
}


@supports (--css: variables) {
	@media (min-width: 64rem) {
		:root {
			--cd-header-height: 55px;
			--cd-sidebar-width: 200px
		}
	}
}

body {
	color: hsl(210, 10%, 27%);
	color: var(--cd-color-1)
}

a {
	color: hsl(203, 79%, 44%);
	color: var(--cd-color-2)
}



.cd-content-wrapper {
	padding: 3.25em 1.25em;
	padding: var(--space-xl) var(--space-md)
}



.cd-main-header {
	position: relative;
	z-index: 5;
	z-index: var(--zindex-fixed-element);
	height: 45px;
	height: var(--cd-header-height);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	background: hsl(210, 10%, 27%);
	background: var(--cd-color-1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 1px 8px rgba(0, 0, 0, .1);
	box-shadow: var(--shadow-sm);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: none;
}

.cd-main-header a {
	text-decoration: none
}

.cd-main-header::before {
	display: none;
	content: 'mobile'
}


.cd-logo {
	display: block;
	margin: 0 1.25em;
	margin: 0 var(--space-md)
}

.cd-logo img {
	display: block
}



.cd-nav-trigger {
	position: relative;
	display: block;
	width: 32px;
	height: 45px;
	height: var(--cd-header-height);
	margin-right: 1.25em;
	margin-right: var(--space-md)
}


.cd-search{
	display: none;
}
.cd-side-nav a {
	text-decoration: none
}


.cd-side-nav--is-visible {
	opacity: 1;
	visibility: visible;
	width: 320px;
	z-index: 1;
}

.cd-side__item,
.cd-nav__item {
	font-size: 0.875em;
	position: relative
}

.cd-side__item a,
.cd-nav__item a {
	position: relative;
	display: block;
	padding: 0.75em 1.25em;
	padding: var(--space-sm) var(--space-md);
	color: hsl(0, 0%, 100%);
	color: var(--cd-color-3)
}
.cd-side__item a, .cd-nav__item a {
	padding-left: 0px;
}

.cd-side__item>a,
.cd-nav__item>a {
	border-bottom: 1px solid hsl(210, 10%, 22.95%);
	border-bottom: 1px solid hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*0.85));
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.cd-side__item>a::before {
	content: '';
	height: 16px;
	width: 16px;
	margin-right: 0.5em;
	margin-right: var(--space-xs);
	background: url("../img/cd-nav-icons.svg") no-repeat 0 0
}


.cd-side__item--overview>a::before {
	background-position: -64px 0
}

.cd-side__item--notifications>a::before {
	background-position: -80px 0
}

.cd-side__item--comments>a::before {
	background-position: -48px 0
}

.cd-side__item--bookmarks>a::before {
	background-position: -32px 0
}

.cd-side__item--images>a::before {
	background-position: 0 0
}

.cd-side__item--users>a::before {
	background-position: -16px 0
}

.features .cd-side__item--has-children>a::after{
	display: none;	
}
.cd-side__item--has-children>a::after,
.cd-nav__item--has-children>a::after {
	content: '';
	position: absolute;
	top: calc(50% - 8px);
	height: 16px;
	width: 16px;
	right: 1.25em;
	right: var(--space-md);
	background: url("../img/cd-arrow.svg")
}


.cd-side__item--expanded .cd-side__sub-list,
.cd-side__item--expanded .cd-nav__sub-list {
	display: block;
	
}

.cd-side__item--expanded>a::after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}



.cd-side__item--selected>a {
	box-shadow: inset 3px 0 0 hsl(203, 79%, 44%);
	box-shadow: inset 3px 0 0 var(--cd-color-2);
	background-color: hsla(0, 0%, 100%, 0.05);
	background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.05)
}



.cd-side__sub-list,
.cd-nav__sub-list {
	background: #fff;
	display: none;
}






.cd-count {
	position: absolute;
	right: calc(2em + 16px);
	right: calc(var(--space-md) + 16px + var(--space-sm));
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0.375em 0.5em;
	padding: var(--space-xxs) var(--space-xs);
	line-height: 1;
	background-color: hsl(9, 100%, 70%);
	background-color: var(--cd-color-4);
	border-radius: .25em;
	color: hsl(0, 0%, 100%);
	color: var(--cd-color-3);
	font-weight: bold;
	font-size: 0.875em
}


.cd-side__btn {
	margin: 0.5em 1.25em;
	margin: var(--space-xs) var(--space-md)
}

.cd-side__btn button {
	display: block;
	width: 100%;
	padding: 0.75em 0;
	padding: var(--space-sm) 0;
	background-color: hsl(203, 79%, 44%);
	background-color: var(--cd-color-2);
	border-radius: .25em;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 1px 8px rgba(0, 0, 0, .1), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: var(--shadow-sm), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	text-align: center;
	color: hsl(0, 0%, 100%);
	color: var(--cd-color-3);
	font-weight: bold
}



.cd-nav__item--account img {
	display: none
}

@media (min-width: 64rem) {
	.cd-nav__item--account>a {
		height: 100%;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		padding: 0 1.25em;
		padding: 0 var(--space-md);
		background-color: hsl(210, 10%, 18.9%);
		background-color: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*0.7))
	}
	.cd-nav__item--account img {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		margin-right: 0.5em;
		margin-right: var(--space-xs);
		display: block
	}
	.cd-nav__item--account:hover .cd-nav__sub-list {
		display: block
	}
}

@media (min-width: 64rem) {
	.cd-nav__sub-list {
		position: absolute;
		top: 45px;
		top: var(--cd-header-height);
		right: 0;
		width: 200px;
		display: block;
		box-shadow: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);
		box-shadow: var(--shadow-md);
		display: none
	}
}


/* tabs css*/
.resp-tabs-list li {
    font-size: 18px;
    display: inline-block;
    padding: 0px;
    list-style: none;
    cursor: pointer;
	color: #666666;
	margin:0 12px;
	background: none !important;
	font-family: "OpenSans-SemiBold";
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}
ul.resp-tabs-list{
	overflow: hidden;
	text-align: center;
	margin-top: -38px;
	margin-bottom: 25px;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
	background: none !important;
	font-size: 18px;
	color:#707070;
	padding: 15px;
}

.resp-tab-content {
    display: none;
}

.resp-tab-active {
	border-bottom: 2px solid #4285F4!important;
	color:#4285F4 !important;
}


.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: none;
	
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    clear: none;
  margin: 3px 0 0;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 1px solid #5AB1D0 !important;
border-left: 1px solid !important;
margin-bottom: 4px !important;
border-right: 1px #FFF solid !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c51110;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
	
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1;
	background: none !important;
	font-size: 18px;
	/* border: none; */
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

/*Table Styles*/
.table{width:100%;}
table {
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

.table thead th {
    vertical-align: bottom;
}
.table th {
    font-weight: bold;
    border-bottom:1px solid $red;
}
.table th, .table td {
    border-top: 1px solid #DDDDDD;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

/*Form Styles*/
form h2{color:$dark-gray;font-size:1em;border-bottom:1px solid #ccc;font-family: $default-font-family;margin:0;font-weight:bold;}
.form-filter{background-color:#f5f5f5;background:linear-gradient(0, #ebebeb, #fff);border:1px solid #ccc;display:inline-block;padding:15px 10px;}

.form-contact{display:inline-block;padding:15px 10px;width:90%;}

.form-row{clear:both;margin:0 0 15px;display:table;}
.form-label{float:left;padding:5px 15px 0;text-align: right;width: 160px;}


.form-contact .btn{margin:10px 0 0;}


/*
select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 200px;
    height:30px;
}
*/

.large-input{width:300px;}
.medium-input{width:200px;}
.small-input{width:100px;}


/****************************** checkbox and radio button **************************************/


.checkbox {
    padding-left: 20px; 
	margin: 0;
	float: right;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: none;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #4285F4;
    border-color: #4285F4;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
	padding-left: 20px;
	width: 13px;
	float: right;
	margin: 0;
}
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: none;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }





.features .v-tab-head {
	border-right:1px solid #ccc;
}
.features {
	padding: 15px 0;
	border: 1px solid #ccc;
}
.features h2.section-title {
  color: #333333;
  font-size: 22px;
  margin: 0;
  text-align: center;
}
.features .v-tabs .v-tab-head a,
.features .v-tabs a.v-tab-head {
  cursor: pointer;
  display: block;
  padding: 10px 30px 10px 15px;
  margin: 0;
  color: #333;
  font-size: 16px;
  font-family: "Raleway";
		
}
.features .v-tabs a.v-tab-head.active, .features .v-tabs .v-tab-head a.active{
	color:#db4437;
}
/*.features .v-tabs .v-tab-head a.active, .features .v-tabs .v-tab-head a:hover,
.features .v-tabs a.v-tab-head.active,
.features .v-tabs a.v-tab-head:hover {
  font-weight: bold;
  text-decoration: none;
}*/

.features .v-tabs .v-tab-head a {
  position: relative;
  display: block;
}
.features .v-tabs .v-tab-head a .icon-next {
	position: absolute;
	right: 0;
	font-weight: bold;
	font-size: 14px;
	top: 23px;
	transform: rotate(90deg);
}
.features .v-tabs .v-tab-head a.active .icon-next {
	transform: rotate(0deg);
}

/*.features .v-tabs .v-tab-head a.active::after, .features .v-tabs .v-tab-head a.active::before {
  content: "";
  border-style: solid;
  border-width: 15px;
  position: absolute;
  right: 0;
  top: 15px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.features .v-tabs .v-tab-head a.active::before {
  border-color: #3fcf6e transparent transparent;
}
.features .v-tabs .v-tab-head a.active::after {
  margin-right: -1px;
  border-color: #faf8f5 transparent transparent;
}*/
.features .v-tabs a.v-tab-head {
  border: none;
  padding: 15px 0;
  text-align: left;
  position: relative;
	padding-left: 15px;
}
.features .v-tabs a.v-tab-head:after {
  color: #e2dcd6;
  content: "\f054";
  font-family: FontAwesome;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.features .v-tabs a.v-tab-head.active::after {
  color: #db4437;
  content: "\f078";
}
.features .v-tabs .v-tab-pane {
  padding: 0 15px;
  max-height: 450px;
}
.features .v-tabs .v-tab-pane ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.features .v-tabs .v-tab-pane ul li {
  color: #292929;
  font-size: 16px;
  padding: 8px 0;
}
.features .v-tabs .v-tab-pane ul li.add-cat-btn{
	margin-top: 20px;
}
.features .v-tabs .v-tab-pane ul li i {
  color: #4c81b6;
  cursor: pointer;
  font-size: 14px;
}
.features .v-tabs .v-tab-pane .in {
  border-top: none;
  padding-top: 0;
}
.features .v-tabs .v-tab-pane .popover {
  border: 1px solid #014d7e !important;
  border-radius: 0;
  width: auto;
  margin: 10px 0 0 0;
  max-width: 276px;
  left: auto;
  box-shadow: none;
}
.features .v-tabs .v-tab-pane .popover.bottom .arrow {
  border-bottom-color: #014d7e;
}
.features .v-tabs .v-tab-pane .popover .popover-content {
  font-size: 14px;
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .features h2.section-title {
    font-size: 32px;
  }
  .features .v-tabs .v-tab-pane .in {
    border-top: 1px solid #DDD;
    border-bottom: 2px solid #DDD;
  }
  .features .popover {
    margin: 10px 5% 0;
    max-width: none;
    width: 90%;
  }
}
