@supports (--css: variables) {
	@media (min-width: 64rem) {
		:root {
			--space-unit: 1.25em
		}
	}
}

@media (min-width: 64rem) {
	.container--adaptive-sm {
		max-width: 45rem;
		max-width: var(--container-width-sm)
	}
}
@media (min-width: 64rem) {
	.container--adaptive-md {
		max-width: 64rem;
		max-width: var(--container-width-md)
	}
}
@media (min-width: 30rem) {
	.col--xs {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.col--xs-1 {
		-ms-flex-preferred-size: 8.33%;
		flex-basis: 8.33%;
		max-width: 8.33%
	}
	.col--xs-2 {
		-ms-flex-preferred-size: 16.66%;
		flex-basis: 16.66%;
		max-width: 16.66%
	}
	.col--xs-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.col--xs-4 {
		-ms-flex-preferred-size: 33.33%;
		flex-basis: 33.33%;
		max-width: 33.33%
	}
	.col--xs-5 {
		-ms-flex-preferred-size: 41.66%;
		flex-basis: 41.66%;
		max-width: 41.66%
	}
	.col--xs-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.col--xs-7 {
		-ms-flex-preferred-size: 58.33%;
		flex-basis: 58.33%;
		max-width: 58.33%
	}
	.col--xs-8 {
		-ms-flex-preferred-size: 66.66%;
		flex-basis: 66.66%;
		max-width: 66.66%
	}
	.col--xs-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.col--xs-10 {
		-ms-flex-preferred-size: 83.33%;
		flex-basis: 83.33%;
		max-width: 83.33%
	}
	.col--xs-11 {
		-ms-flex-preferred-size: 91.66%;
		flex-basis: 91.66%;
		max-width: 91.66%
	}
	.col--xs-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
}

@media (min-width: 37.5rem) {
	.col--sm {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.col--sm-1 {
		-ms-flex-preferred-size: 8.33%;
		flex-basis: 8.33%;
		max-width: 8.33%
	}
	.col--sm-2 {
		-ms-flex-preferred-size: 16.66%;
		flex-basis: 16.66%;
		max-width: 16.66%
	}
	.col--sm-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.col--sm-4 {
		-ms-flex-preferred-size: 33.33%;
		flex-basis: 33.33%;
		max-width: 33.33%
	}
	.col--sm-5 {
		-ms-flex-preferred-size: 41.66%;
		flex-basis: 41.66%;
		max-width: 41.66%
	}
	.col--sm-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.col--sm-7 {
		-ms-flex-preferred-size: 58.33%;
		flex-basis: 58.33%;
		max-width: 58.33%
	}
	.col--sm-8 {
		-ms-flex-preferred-size: 66.66%;
		flex-basis: 66.66%;
		max-width: 66.66%
	}
	.col--sm-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.col--sm-10 {
		-ms-flex-preferred-size: 83.33%;
		flex-basis: 83.33%;
		max-width: 83.33%
	}
	.col--sm-11 {
		-ms-flex-preferred-size: 91.66%;
		flex-basis: 91.66%;
		max-width: 91.66%
	}
	.col--sm-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
}

@media (min-width: 64rem) {
	.col--md {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.col--md-1 {
		-ms-flex-preferred-size: 8.33%;
		flex-basis: 8.33%;
		max-width: 8.33%
	}
	.col--md-2 {
		-ms-flex-preferred-size: 16.66%;
		flex-basis: 16.66%;
		max-width: 16.66%
	}
	.col--md-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.col--md-4 {
		-ms-flex-preferred-size: 33.33%;
		flex-basis: 33.33%;
		max-width: 33.33%
	}
	.col--md-5 {
		-ms-flex-preferred-size: 41.66%;
		flex-basis: 41.66%;
		max-width: 41.66%
	}
	.col--md-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.col--md-7 {
		-ms-flex-preferred-size: 58.33%;
		flex-basis: 58.33%;
		max-width: 58.33%
	}
	.col--md-8 {
		-ms-flex-preferred-size: 66.66%;
		flex-basis: 66.66%;
		max-width: 66.66%
	}
	.col--md-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.col--md-10 {
		-ms-flex-preferred-size: 83.33%;
		flex-basis: 83.33%;
		max-width: 83.33%
	}
	.col--md-11 {
		-ms-flex-preferred-size: 91.66%;
		flex-basis: 91.66%;
		max-width: 91.66%
	}
	.col--md-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
}

@media (min-width: 80rem) {
	.col--lg {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.col--lg-1 {
		-ms-flex-preferred-size: 8.33%;
		flex-basis: 8.33%;
		max-width: 8.33%
	}
	.col--lg-2 {
		-ms-flex-preferred-size: 16.66%;
		flex-basis: 16.66%;
		max-width: 16.66%
	}
	.col--lg-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.col--lg-4 {
		-ms-flex-preferred-size: 33.33%;
		flex-basis: 33.33%;
		max-width: 33.33%
	}
	.col--lg-5 {
		-ms-flex-preferred-size: 41.66%;
		flex-basis: 41.66%;
		max-width: 41.66%
	}
	.col--lg-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.col--lg-7 {
		-ms-flex-preferred-size: 58.33%;
		flex-basis: 58.33%;
		max-width: 58.33%
	}
	.col--lg-8 {
		-ms-flex-preferred-size: 66.66%;
		flex-basis: 66.66%;
		max-width: 66.66%
	}
	.col--lg-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.col--lg-10 {
		-ms-flex-preferred-size: 83.33%;
		flex-basis: 83.33%;
		max-width: 83.33%
	}
	.col--lg-11 {
		-ms-flex-preferred-size: 91.66%;
		flex-basis: 91.66%;
		max-width: 91.66%
	}
	.col--lg-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
}

@media (min-width: 90rem) {
	.col--xl {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.col--xl-1 {
		-ms-flex-preferred-size: 8.33%;
		flex-basis: 8.33%;
		max-width: 8.33%
	}
	.col--xl-2 {
		-ms-flex-preferred-size: 16.66%;
		flex-basis: 16.66%;
		max-width: 16.66%
	}
	.col--xl-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.col--xl-4 {
		-ms-flex-preferred-size: 33.33%;
		flex-basis: 33.33%;
		max-width: 33.33%
	}
	.col--xl-5 {
		-ms-flex-preferred-size: 41.66%;
		flex-basis: 41.66%;
		max-width: 41.66%
	}
	.col--xl-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.col--xl-7 {
		-ms-flex-preferred-size: 58.33%;
		flex-basis: 58.33%;
		max-width: 58.33%
	}
	.col--xl-8 {
		-ms-flex-preferred-size: 66.66%;
		flex-basis: 66.66%;
		max-width: 66.66%
	}
	.col--xl-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.col--xl-10 {
		-ms-flex-preferred-size: 83.33%;
		flex-basis: 83.33%;
		max-width: 83.33%
	}
	.col--xl-11 {
		-ms-flex-preferred-size: 91.66%;
		flex-basis: 91.66%;
		max-width: 91.66%
	}
	.col--xl-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
}

@media not all and (min-width: 30rem) {
	.display--xs {
		display: none !important
	}
}

@media (min-width: 30rem) {
	.hide--xs {
		display: none !important
	}
}

@media not all and (min-width: 37.5rem) {
	.display--sm {
		display: none !important
	}
}

@media (min-width: 37.5rem) {
	.hide--sm {
		display: none !important
	}
}

@media not all and (min-width: 64rem) {
	.display--md {
		display: none !important
	}
}

@media (min-width: 64rem) {
	.hide--md {
		display: none !important
	}
}

@media not all and (min-width: 80rem) {
	.display--lg {
		display: none !important
	}
}

@media (min-width: 80rem) {
	.hide--lg {
		display: none !important
	}
}

@media not all and (min-width: 90rem) {
	.display--xl {
		display: none !important
	}
}

@media (min-width: 90rem) {
	.hide--xl {
		display: none !important
	}
}
@media (min-width: 64rem) {
	.cd-main-content {
		display: grid;
		grid-template-columns: 100% 1fr;
		grid-template-columns: var(--cd-sidebar-width) 1fr;
		min-height: 100vh;
			padding:0;
	}
}
@media (min-width: 64rem) {
	.cd-content-wrapper h1 {
		font-weight: 300
	}
}

@media (min-width: 64rem) {
	.cd-side-nav {
		position: relative;
		top: auto;
		visibility: visible;
		opacity: 1;
		box-shadow: none;
		transition: none
	}
}
@media (min-width: 64rem) {
	.cd-side__item--has-children>a::after,
	.cd-nav__item--has-children>a::after {
		display: none
	}
}

@media (min-width: 64rem) {
	.cd-side__item--has-children:not(.cd-side__item--selected).hover .cd-side__sub-list {
		display: block;
		position: absolute;
		z-index: 1;
		left: 106%;
		top: 0;
		width: 730px !important;
		box-shadow: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
@media (min-width: 64rem) {
	.cd-side__item--expanded .cd-side__sub-list,
	.cd-side__item--expanded .cd-nav__sub-list {
		display: none
	}
}
@media (min-width: 64rem) {
	.cd-side__item--selected .cd-side__sub-list {
		display: block
	}
}
@media (min-width: 64rem) {
	.cd-side__sub-item a:hover {
		color: hsl(9, 100%, 70%);
		color: var(--cd-color-4)
	}
}

@media (min-width: 64rem) {
	.cd-count {
		right: 0.75em;
		right: var(--space-sm)
	}
}
@media (min-width: 64rem) {
	.cd-side__btn {
		margin: 0.25em 0.5em;
		margin: var(--space-xxxs) var(--space-xs)
	}
	.cd-side__btn button {
		font-size: 0.65em
	}
}

@media (min-width: 64rem) {
	.cd-nav__list {
		font-size: 0.75em;
		height: 45px;
		height: var(--cd-header-height);
		margin-left: auto;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		display: none;
	}
}

@media (min-width: 64rem) {
	.cd-nav__item {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		margin-right: 1em;
		height: 100%
	}
	.cd-nav__item:last-of-type {
		margin-right: 0
	}
	.cd-nav__item a {
		font-size: 1.1em;
		color: hsl(0, 0%, 100%);
		color: var(--cd-color-3);
		padding: 0.25em;
		padding: var(--space-xxxs);
		border: none
	}
	.cd-nav__item a:hover {
		color: hsl(9, 100%, 70%);
		color: var(--cd-color-4)
	}
}
@media (min-width: 64rem) {
	.cd-nav__sub-item a {
		padding: 0.5em 0.75em;
		padding: var(--space-xs) var(--space-sm)
	}
}











@media screen and (max-width:1439px) {
    .container{width: 100%;}
	.social li {
		width: 36px;
		height: 36px;
		list-style: none;
		text-align: center;
		transition: all 0.3s linear;
		-webkit-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
	}
	.social li i {
		color: #fff;
		line-height: 36px;
		font-size: 16px;
	}
	.social {
		position: absolute;
		top: 30%;
		right: 1px;
		transform: translatey(-30%);
		-moz-transform: translateY(-30%);
		-webkit-transform: translateY(-30%);
		-o-transform: translateY(-30%);
	}
	.search-section .search-form input {
		width: 80%;
	}
	.search-section .search-form .search-panel {
		width: 20%;
	}
    
}





@media screen and (max-width:1380px){  
#cssmenu > ul > li {
	float: left;
	margin: 0px 5px;
}
#cssmenu > ul > li > a{padding-left: 5px;
padding-right: 5px;}
}


@media screen and (max-width:1290px) {
	.buttons {
		width: 100%;
		text-align: center;
	}
	.logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 46px;
		text-align: center;
		padding: 10px 0 0 0;
		float: none
	}
	.logo2 {
		display: none
	}
	nav {
		width: 100%;
	}
	#cssmenu {
		width: 100%
	}
	#cssmenu ul {
		width: 100%;
	}
	#cssmenu ul li {
		width: 100%;
		border-top: 1px solid #E9E9E9;
	}
	.side-bar ul {
		display: block !important;
	}
	header nav .side-bar li.logo {
		list-style: none !important;
		display: inline-block !important;
		border: none !important;
		height: auto;
		float: left !important;
		width: auto !important;
	}
	header nav .side-bar li.bar {
		float: right !important;
		line-height: 64px !important;
		border: none !important;
		width: auto !important;
	}
	#cssmenu ul ul li,
	#cssmenu li:hover>ul>li {
		height: auto
	}
	#cssmenu ul li a,
	#cssmenu ul ul li a {
		width: 100%;
		border-bottom: 0
	}
	#cssmenu>ul>li {
		float: none
	}
	#cssmenu ul ul li a {
		padding-left: 25px
	}
	#cssmenu ul ul li {
		background: #fff !important;
	}
	#cssmenu ul ul li:hover {
		background: #db4437 !important;
	}
	#cssmenu ul ul ul li a {
		padding-left: 35px
	}
	#cssmenu ul ul li a {
		color: #666;
		background: none
	}
	#cssmenu ul ul li:hover>a,
	#cssmenu ul ul li.active>a {
		color: #fff
	}
	#cssmenu ul ul,
	#cssmenu ul ul ul {
		position: relative;
		left: 0;
		width: 100% !important;
		margin: 0;
		text-align: left;
		padding: 0;
	}
	#cssmenu>ul>li.has-sub>a:after,
	#cssmenu>ul>li.has-sub>a:before,
	#cssmenu ul ul>li.has-sub>a:after,
	#cssmenu ul ul>li.has-sub>a:before {
		display: none
	}
	#cssmenu #head-mobile {
		display: block;
		padding: 23px;
		color: #ddd;
		font-size: 12px;
		font-weight: 700;
		min-height: 100px;
		width: auto;
		overflow: hidden;
	}
	header nav#cssmenu .logo-bar ul {
		display: block !important;
	}
	header nav#cssmenu .logo-bar .logo {
		border-right: 1px solid #E9E9E9;
		border-left: 1px solid #E9E9E9;
		margin-right: 30px;
		padding: 0px;
		height: auto;
	}
	header nav#cssmenu .logo-bar li {
		list-style: none;
		display: inline-block;
		padding-right: 14px;
		padding-left: 14px;
		width: auto;
		border: none;
	}
	#cssmenu>ul>li {
		float: left;
		margin: 0px;
	}
	.button {
		width: 55px;
		height: 46px;
		position: absolute;
		right: 0;
		top: 25px;
		cursor: pointer;
		z-index: 2;
	}
	.button:after {
		position: absolute;
		top: 22px;
		right: 20px;
		display: block;
		height: 7px;
		width: 20px;
		border-top: 2px solid #db4437;
		border-bottom: 2px solid #db4437;
		content: ''
	}

	.button:before {
		-webkit--webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;
		-ms--webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;
		position: absolute;
		top: 17px;
		right: 20px;
		display: block;
		height: 2px;
		width: 20px;
		background: #db4437;
		content: ''
	}
	.button.menu-opened:after {
		-webkit--webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;
		-ms--webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;
		top: 22px;
		border: 0;
		height: 2px;
		width: 19px;
		background: #db4437;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg)
	}
	.button.menu-opened:before {
		top: 22px;
		background: #db4437;
		width: 19px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}
	#cssmenu .submenu-button {
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0;
		display: block;
		border-left: none;
		height: 60px;
		width: 46px;
		cursor: pointer
	}
	#cssmenu .submenu-button.submenu-opened {
		background: #db4437;
		top: 0;
	}
	#cssmenu ul ul .submenu-button {
		width: 46px;
		height: 45px;
	}
	#cssmenu .submenu-button::after {
	position: absolute;
	top: 26px;
	right: 15px;
	width: 16px;
	height: 2px;
	display: block;
	background: #666;
	content: '';
}
#cssmenu ul ul .submenu-button::after {
    top: 19px;
    right: 13px;
}
	#cssmenu .submenu-button.submenu-opened:after {
		background: #fff
	}
	#cssmenu .submenu-button:before {
		position: absolute;
		top: 19px;
		right: 22px;
		display: block;
		width: 2px;
		height: 16px;
		background: #666;
		content: ''
	}
	#cssmenu ul ul .submenu-button::before {
	top: 12px;
	right: 20px;
}
	#cssmenu .submenu-button.submenu-opened:before {
		display: none
	}
	#cssmenu ul ul ul li.active a {
		border-left: none
	}
	#cssmenu>ul>li.has-sub>ul>li.active>a,
	#cssmenu>ul ul>li.has-sub>ul>li.active>a {
		border-top: none
	}
	#cssmenu > ul > .dropdown.user-profile {
		float: right;
		width: 100%;
		text-align: center;
		border-left: none;
		padding-left: 0;
		margin-left: 0;
	}
	.user-profile a.dropdown-toggle {
		padding: 10px !important;
		color: #000 !important;
	}
	.user-profile .user {
		margin:0px 25px;
		margin-top: 27px;
	}
	header nav .nav-item figure.menu-img {
		display: inline;
		margin: 0 25px;
	}
	#cssmenu > ul > li > a, #cssmenu ul li a {
		text-align: left;
		padding:10px;
	}
	.rit-nav-sec {
		margin-top: 0px; 
		padding: 15px;
		text-align: center;
		width: 350px;
		display: inline-block;
	}
	.rit-nav-sec a{
		width: auto !important;
		z-index: 2 !important;
		max-height: 42px;
	}
	
	#cssmenu .user-profile ul li:hover > a, #cssmenu .user-profile ul li a:hover {
		color: #fff;

	}
	.user-profile a.dropdown-toggle {
		padding:0 !important;
	}
    .main-menu-ul{display: none !important;}
    .main-menu-ul.open{
		display: block !important;
		max-height: 400px;
		overflow-y: scroll;
	}
	#cssmenu > ul > li.has-sub:hover::after {
		display: none;
	}
	.nav-item.nav-search-icon{
		display: none !important;
	}
	.first-search-icon{
		display: block;
		float: none;
		z-index: 2;
		position: absolute;
		top: 0;
		right: 50px;
		line-height: 100px;
	}
	.first-search-icon i{
		color: #707070;
	}
	
	header nav .nav-item span{font-size: 16px;}
	#cssmenu > ul > li > a{padding-bottom: 0;padding-top: 5px;}
	#cssmenu ul ul ul{top: 0;}
	.has-sub .open{border-bottom: 2px solid #ccc;}
	#cssmenu ul {
	width: 100%;
}
	.rit-nav-sec a.upload{
		padding:8px 10px !important;
	}
	.user-name {
		 line-height: 52px; 
	}
	.user-profile .user {
	 margin-top: 0px; 
	}
	
}


@media(max-width:1198px) {
	.recommanded .filter-section {
		width: 100%;
		 float: none; 
		border:none;
	}
	.recommanded .well {
		margin-bottom: 20px;
		border-radius: 0;
		background: #fff;
		box-shadow: none;
		border: none;
		border-bottom: 1px solid #ccc;
		padding: 0px;
		overflow: hidden;
		padding-left: 15px;
		min-height: 52px;
	}
	.cd-side__item--has-children:not(.cd-side__item--selected).hover .cd-side__sub-list {
		width: 100% !important;
	}
	.cd-side-nav .cd-side__sub-list .cat-name {
		float: none;
		width: 100%;
		border-right: none; 
		padding-left: 15px;
	}
	.post-vdo .cd-side-nav .cd-side__sub-list .cat-name {
		float: none;
		width: 100%;
		border-left: none;
		border-right: none;
		padding-bottom: 20px;
		border-bottom: 1px solid #ccc;
		border-right: none !important;
	}
	.post-vdo .cd-side-nav .cd-side__sub-list .cat-name:last-child {
		border: none;
	}
	.grid-item-section .list-group-item .video-section .video-btn li{
		width:49%;
	}
	footer .address {
		margin-top: 20px;
	}
	.features .v-tab-head {
		width: 40%;
	}
	.features .v-tabs .v-tab-pane {
		padding: 0 15px;
		width: 60%;
	}
	.subscribe-section {
		margin-top: 20px;
	}
	.channel-subscribe-page {
		 padding: 15px 0; 
	}
	.creator .all-videos .owl-dots {
		display: none;
	}

}

@media(max-width:1024px) {
	.cd-side__item::after {
		display: none;
	}
	.well .right-side-grid {
		float: right;
		padding-left: 5px;
		border-left: 1px solid #ccc;
	}
	.about-us .resp-tabs-list li {
		font-size: 14px;
		font-family: "OpenSans-Bold";
	}
	.channel-comment-page .all-videos .video-section .video-title {
		font-size: 18px;
		margin-top: 42px;
	}
	.all-videos .video-section .about-video li.review .icon-star {
		margin-right: 5px;
	}
	.grid-item-section .list-group-item .video-section .about-video li.review {
		margin-left: 10px;
	}
	.grid-item-section .list-group-item .video-section .about-video li.user {
		font-family: 'Raleway-SemiBold';
		white-space: nowrap;
		width: 80px;
		overflow: hidden;
		text-overflow:ellipsis;
		float: left;
	}
	.channel-subscribe-page {
		padding: 15px 0;
	}
	
		
}



@media(max-width:991px) {
	.trending-filter-section .well .right-filter-grid {
		float: right;	
	}
	.search-section .content h2 {
		font-size:30px;
	}
	.search-section .content h2 {
		font-size:35px;
	}
	.modal .myform .gray-theme-btn {
		margin-top: 15px;
	}
	
	.grid-item-section {
		width: 100%;
		float: none;;
	}
	.filter-section {
		width: 100%;
		float: none;
		border-bottom: 1px solid #ccc;
		position: relative;
	}
	.cd-side-nav--is-visible {
		opacity: 1;
		visibility: visible;
		width: 100%;
		background: #fff;
		position: static;
		box-shadow: none;
	}
	.ad p {
		line-height: 48px;
		font-size: 14px;
	}
	.search-section {
		margin-top: 85px;
	}
	.how-work-section .pop-vdo .pop-vdo-img {
		width: 90%;
	}
	header nav .navbar-brand {
		margin-right: 0;
	}
	
	footer .address {
		margin-top: 15px;
		margin-bottom: 15px;
		min-height: auto;
	}
	.subscribe-section {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.buttons {
		height: 80px;
		padding-left: 0px;
		border-left: none;
	}
	.heading .view-all {
		position: static;
	}
	.heading h3 {
		font-size: 20px;
		font-family: 'Raleway-Bold';
		position: relative;
		width: auto;
		display: inline-block;
		margin-bottom: 15px;
	}
	.white-heading .view-all {
		position: static;
	}
	.white-heading h3 {
		font-size: 20px;
		font-family: 'Raleway-Bold';
		position: relative;
		width: auto;
		display: inline-block;
		margin-bottom: 15px;
	}
	.filter-heading span.icon-list{
		margin-right:15px;
		display:inline-block;
	}
	.category-wrapper {
		padding: 0;
		height: 0px !important;
		position: absolute;
		z-index: -1;
		transition: all 0.3s linear;
		width: 100%;
	}
	.category-wrapper.display {
		padding: 20px 15px;
		height: auto;
		z-index: 14;
		overflow: hidden;
		height: 100% !important;
		width: 100%;
		position: static;
	}
	.well .right-side-grid {
		float: none;
		padding-left: 10px;
		border-left: none;
	}
	.post-vdo .vdo-post-btn-section {
		text-align: center;
	}
	.post-vdo .login-with{
		text-align: center;
	}
	.post-vdo .start-time {
		top: 34px;
	}
	.post-vdo .category-wrapper {
		 padding: 0; 
		 height: auto !important; 
		 position: static; 
		z-index: 1;
		transition: all 0.3s linear;
		width: 100%;
	}
	.uploading-vdo-section p, .uploading-vdo-section p {
		font-family: "OpenSans";
		margin-bottom: 10px;
		font-size: 16px;
		color: #383838;
		margin: 15px 0;
	}
	.uploading-vdo-section .other-video-clip{
		margin-top: 15px;	
		
	}
	
	.description .vdo-category {
		text-align: left;
	}
	.description .related-vdo .any-videos {
		border: none;
	}
	.table tr td p.title {
		white-space: nowrap;
		width: 150px;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.vdo-upload-search .input-search{
		margin-bottom: 15px;
	}
	
	.description .vdo-description .vdo-title .subscribe{
		margin:25px 0;
		text-align: left;
	}
	.all-category-vdo-section .category-videos .heading .view-all {
		right: 0;
		position: absolute;
	}
	.channel-comment-page .video-section .video-btn .care-btn, .channel-comment-page .video-section .video-btn .view-btn {
		width: 49%;
		overflow: hidden;
		text-overflow:ellipsis;
		border: 1px solid #DB4437;
		padding: 0px;
		height: 40px;
		-webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
	}
	.about-channel {
		margin: 50px 20px;
	}
	.my-channel-des.profile-page .vdo-description .well .right-side-grid {
		float: right;
		padding-left: 10px;
		border-left: none;
	}
	.about-us .about-howclip .who-we .content-img {
		margin:20px 0;
	}
	.about-us .contact-form {
    	margin: 0px;
	}
	.about-us .copyright .who-heading h5{
		line-height: 26px;
	}
	.guidelines .about-channel {
		border-bottom: 1px solid #ccc;
		margin:20px 0;
	}
	.merchandise .about-channel .content-section .content-image{
		margin:30px 0;
	}
	.merchandise .about-channel .content-section{
		padding:0px;
	}
	.merchandise .about-channel {
		 border-bottom: none; 
		margin: 20px 0;
	}
	.policy-safety .guidelines .about-channel {
		border-bottom: none;
		margin: 20px 0;
	}
	.wrapper .press-single-page {
		padding: 15px;
	}
	.content-image{
		margin-top: 25px;
	}
	.passage-section p {
		text-align: left;

	}
	.uploading-vdo-section .vdo-upload-search .upload-video {
		text-align: left;
	}
	.my-channel-des.profile-page .vdo-upload-search, .my-channel-des.profile-page .other-topic {
		padding-left: 15px;
	}
	.all-videos .video-section .about-video li.user {
		width: 120px;
	}
	.well .right-side-grid {
		float: none;
		padding-left: 0px;
		border-left: none;
	}
	.about-us .contact-form h4 {
		margin-top: 50px;
	}
	.about-us .contact-form .contact-info li {
		font-size: 16px;
		font-family: "OpenSans";
		margin: 18px 0;
	}
	.about-us .contact-form h4 {
		/* margin-top: 17px; */
		margin: 25px 0;
	}
	.search-section .search-form input {
		width: 75%;
	}
	.search-section .search-form .search-panel {
		width: 25%;
	}
	

}

@media(max-width:767px) {
	header nav .navbar-brand {
		color: #DB4437 !important;
		font-family: 'Raleway-SemiBold';
		font-size: 14px;
		border: 2px solid #DB4437;
		border-radius: 5px;
		margin-right: 0;
	}
	header nav .search-img {
		margin-right: 5px;
	}
	.vdo-upload-search .selectFile {
		margin: 15px 0;
	}
	
	.upload-video .select2 {
		height: 50px;
		border: none;
		width: calc(100% - 80px) !important;
	}
	.video-list-page  .upload-video .select2 {
		height: 50px;
		border: none;
		width:100% !important;
	}
	.vdo-upload-search .upload-video{
		margin:15px 0;
	}
	.my-channel-des.profile-page .vdo-description .vdo-title .joined {
		text-align: left;
		margin: 15px 0;
	}
	.merchandise{
		padding: 0px;
	}
	.social {
		position: absolute;
		top: 30%;
		right: 1;
		transform: translatey(-30%);
		-moz-transform: translateY(-30%);
		-webkit-transform: translateY(-30%);
		-o-transform: translateY(-30%);
	}
	.admin-banner .modal-dialog .myform {
		background-color: transparent;
		padding:20px;
	}
	.admin-banner .modal-dialog {
		min-width: 400px;
	}
	.channel-subscribe-page .subscribe-list {
		text-align: center;
		 text-align: -moz-center; 
		text-align: -webkit-center;
		text-align: -o-center;
		border: 1px solid #ccc;
		margin: 15px 0;
		padding-top: 15px;
	}
	.interpersonal-care {
		margin-top: 15px;
	}
	.features .v-tabs .v-tab-pane {
		padding: 0 15px;
		width: 100%;
	}
	.features .v-tab-head {
		width: 100%;
	}
	.about-us .about-howclip h5 {
		color: #DB4437;
		font-size: 16px;
		font-family: "Raleway-SemiBold";
		line-height: 25px;
		padding-left: 15px;
		border-left: 1px solid #ccc;
		overflow: hidden;
	}
	.about-us .about-howclip h3 {
		color: #000;
		font-size: 21px;
		font-family: "Raleway-Bold";
		float: left;
		margin-right: 15px;
		line-height: 60px;
	}
	.about-us .about-howclip h3 span {
		font-size: 21px;
	}
	.about-us .about-howclip .who-heading {
		margin: 20px 0 20px 0;
		overflow: hidden;
	}
	.about-us .about-howclip .who-we .content .content-para p {
		font-size: 14px;
		margin: 8px 0;
		line-height: 24px;
	}
	.my-channel-des .vdo-description .vdo-title h3 {
		color: #000;
		font-family: "Raleway-SemiBold";
		margin-top: 15px;
	}
	.table > thead > tr > th {
		font-size: 14px;
		color: #000;
		padding: 15px 10px;
	}
	.table.order-list td h5 {
		font-family: "OpenSans-Bold";
		color: #DB4437;
		font-size: 14px;
		line-height: 22px;
	}
	.table.order-list td {
		font-family: "OpenSans";
		color: #7E7E7E;
		font-size: 14px;
	}
	.vdo-post-btn-section .theme-btn, .vdo-post-btn-section .bdr-theme-btn {
		margin-top: 0 !important;
	}
	.gray-theme-btn {
		margin-top: 0;
	}
	.profile-edit-form .change-ps .gray-theme-btn, .profile-edit-form .change-ps .theme-btn {
		margin-top: 0;
	}
	.vdo-post-btn-section .theme-btn, .vdo-post-btn-section .bdr-theme-btn, .vdo-post-btn-section .gray-theme-btn {
		margin-top: 0px !important;
	}
	.search-section .search-form input {
		width: 70%;
	}
	.search-section .search-form .search-panel {
		width: 30%;
	}

}

@media(max-width:639px) {
	.grid-item-section .btn-group{
		display: none;
	}
	.right-side-grid .select2 {
		
		margin-right: 0;
		margin-left: 0;
		border: none;
	}
	.login-with .social-share li {
		
		margin:10px 5px;
	}
	.social li i {
		color: #fff;
		line-height: 36px;
		font-size: 16px;
	}
	.social li {
		width: 36px;
		height: 36px;
		list-style: none;
		text-align: center;
		transition: all 0.3s linear;
		-webkit-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
	}
	.social li a {
		padding: 10px 5px;
	}
	.login-with .social-share{
		float:none;
	}
	.about-channel .social-info h5.share-icn{
		float: none;
	}
	.my-channel-des.profile-page .vdo-description .well .right-side-grid {
		float: none;
		padding-left: 10px;
		border-left: none;
	}
	.profile-edit-form{
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.about-us .about-howclip h3 {
		float: none;
	}
	.about-us .about-howclip h5 {
		border-left: none;
		padding-left: 0;
	}
	.about-us .about-howclip .who-we .content .content-para p {
		margin:0;
		margin-bottom: 10px;
	}
	.about-us .about-howclip .who-heading {
		margin: 15px 0;
	}
	.about-us .about-howclip .who-we .content {
    	margin: 15px 0;
	}
	.press-profile .press-detail h4 {
		font-size: 18px;
	}
	.press-single-page .press-profile .press-detail {
		padding:0;
	}
	.press-single-page .about-channel {
		padding:0;
	}
	.press-single-page .comment-section {
		padding: 0px;
	}
	.search-section .content h1 {
		font-size: 32px;
	}
	.search-section .content h2 {
		font-size: 26px;
	}
	.upload-vdo-section .zone #dropZ span.or::after {	
		left: -58px;
		width: 50px;
	}
	.upload-vdo-section .zone #dropZ span.or::before {
		right: -58px;
		width: 50px;
	}
	.owl-next span, .owl-prev span{
		font-size: 30px;
	}
	header nav .search-img {
		display: none;
	}
	header nav .navbar-brand {
		padding: 10px;
		line-height: 25px;
	}
	.ad .white-close {
		top: 20px;
		font-size: 13px;
		opacity: 0.6;
	}
	.merchandise .safety-tools .resource-content {
		margin: 40px 0px;
	}
	.merchandise .safety-tools .resource-content .point {
		width: 50px;
		height: 50px;
		border: 1px solid #E1E1E1;
		border-radius: 50%;
		position: absolute;
		top: -25px;
		right: -25px;
		background: #fff;
	}
	.merchandise .safety-tools .resource-content .point h2 {
		font-family: "Raleway-ExtraBold";
		font-size: 40px;
		color: #E1E1E1;
	}
	.merchandise .safety-tools .resource-content {
		padding: 15px 10px;
		text-align: center;
	}
	.banner-heading {
		padding-right: 20px;
	}
	.date-picker {
		 border-right: none; 
		padding:0;
		padding-right: 10px;
		margin-right: 10px;
		display: block;
		position: relative;
	}
	.recommanded .right-side-grid .select2 {
		padding:0;
	}
	.search-section .search-form {
	width: 100%;
}
	.search-section .search-form .search-panel{width: 150px;}
	.search-section .search-form input {
		width: calc(100% - 200px);
	}
}

@media(max-width:479px) {
	.button {
		top:10px;
	}
	.search-section .content {
		text-align: center;
		padding: 100px 0;
	}
	.search-section .content h2 {
		color: #fff;
		font-size: 22px;
		margin-bottom: 11px;
	}
	.search-section .content h1 {
		font-size: 26px;
		font-family: 'Raleway-Bold';
		color: #fff;
	}
	.wrapper .trending-section {
		padding: 25px 8px;
		padding-bottom: 0px;
	}
	.content-section h2 {
		font-family: 'Raleway-SemiBold';
		font-size: 24px;
		color: #DB4437;
	}
	.content-section h2 br{
		display: none;
	}
	.content-section {
		padding-top: 0px;
		padding-bottom: 50px;
	}
	.recommand-section {
		padding: 25px 8px;
		padding-bottom: 0px;
	}
	.popular-section {
		padding: 25px 8px;
	}
	.popular-vdo, .all-videos {
		margin-top: 15px;
	}
	.heading h3 {
		margin-bottom: 8px;
	}
	.all-videos .video-section {
		margin-bottom: 15px;
	}
	.white-heading h3::after,
	.heading h3::after {
		display: none;
	}
	.white-heading h3::before,
	.heading h3::before {
		display: none;
	}
	footer .address, .subscribe-section {
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.subscribe-btn {
		margin-left: 15px;
	}
	header nav .logo-bar .logo {
		margin-right: 0px;
	}
	header nav .logo-bar li {
		list-style: none;
		display: inline-block;
		padding-right: 7px;
		padding-left: 7px;
	}
	header nav .logo img {
		width: 45px;
		height: auto;
	}
	.bg-light {
		background: #fff !important;
		padding: 5px;
	}
	.search-section {
		margin-top: 69px;
	}
	.form-content .form-heading {
		color: #707070;
		font-family: 'OpenSans-Bold';
		font-size: 14px;
		padding-left: 15px;
	}
	.banner-heading {
		text-align: center;
		padding-right: 20px;
	}
	.banner-heading h2 {
		color: #fff;
		font-size: 24px;
		margin-bottom: 11px;
	}
	.banner-heading h1 {
		font-size: 22px;
		font-family: 'OpenSans-Bold';
		color: #F4B400;
		margin-bottom: 10px;
	}
		.banner-heading p {
		color: #fff;
		font-size: 14px;
	}
	.well .right-side-grid {
		float: none;
		padding-left: 0px;
		border-left: none;
	}
	.well .result {
		color: #000;
		font-family: "OpenSans";
		font-size: 16px;
		line-height: 46px;
		display: block;
	}
	.date-picker {
		 border-left: none; /*
		padding: 22px 0;*/
		 padding-left: 0px; 
		 margin-left: 0px; 
	}
	#cssmenu #head-mobile {
		display: none;
	}
	header nav#cssmenu .logo-bar .logo {
		border-right: 1px solid #E9E9E9;
		border-left: 1px solid #E9E9E9;
		margin-right: 5px;
		padding: 0px;
		height: auto;
	}
	header nav .navbar-brand {
		margin-top:16px;
		padding: 4px 8px;
		height: auto;
	}
	header nav#cssmenu .logo-bar li {
		padding-right: 0px;
		padding-left: 0px;
	}
	.post-vdo .login-with li{
		margin:10px 5px;
	}
	
	.play-btn-lg {
		border-radius: 50%;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #DB4437;
		-webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		font-size: 18px;
		border: 1px solid #fff;
		font-family: "fontawesome" !important;
	}
	.payble a .icon-play {
		color: #DB4437;
		margin: 0px 3px;
		font-family: fontawesome;
		font-family: "fontawesome" !important;
		font-size: 16px;
	}
	.payble h4 {
		color: #000;
		font-size: 18px;
		font-family: 'OpenSans-Bold';
	}
	.play-btn {
		border-radius: 50%;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #DB4437;
		-webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		border: 1px solid #fff;
		text-decoration: none;
		font-size: 18px;
		font-family: "fontawesome" !important;
	}
	.description .vdo-title h3 {
		font-size: 20px;
	}
	.all-category-vdo-section .category-videos .heading .view-all {
		left: 0;
		position: static;
	}
	.about-channel h5 a {
		display: block;
		margin: 15px 0;
	}
	.my-channel-des.profile-page .vdo-description .grid-item-section .well .result {
		color: #000;
		font-family: "OpenSans";
		font-weight: 600;
		font-size: 16px;
		line-height: 46px;
		display: inline-block; 
	}
	.guidelines .safety-tools h3 {

		font-family: "Raleway-Bold";
		font-size: 24px;
		text-align: center;
		margin: 20px 0;

	}
	.merchandise{
		display: block;
		padding: 15px 25px;
	}
	.social li a img{
		width:20px;
	}
	.social li a {
		padding:10px 5px;
		line-height: 36px;
	}
	.social li{
		width: 36px;
		height: 36px;
	}
	.personal-care .content h4, .interpersonal-care .content h4, .sports .content h4 {
		font-family: 'Raleway-Bold';
		font-size: 26px;
		margin-bottom: 10px;
	}
	.search-section .search-form {
		height: auto;
		margin-top: 20px;
		width: 100%;
	}
	.search-section .search-form .search-panel .select2 {
		padding: 12px 5px 11px 5px;
		background: #E3E9ED;
		border-radius: 30px 0px 0px 30px;
		width: 100% !important;
		float: left;
		font-size: 13px;
		padding-right: 15px;
	}
	.search-panel::after{right: 8px;}
.search-section .search-form input {
	height: auto;
	width: calc(100% - 100px);
	padding: 12px 0;
	padding-left: 5px;
	font-size: 13px;
}
.search-section .search-form .search-btn button {
	padding: 13px 10px;
}
	.white-heading h3, .heading h3{
		font-size: 16px;
	}
	.rit-nav-sec {
		margin-top: 0px;
		padding: 15px;
		text-align: center;
		width: auto;
		display: inline-block;
	}
	.rit-nav-sec a{
		margin-right: 5px !important;
	}
	.upload-vdo-section {
		padding: 15px !important;
	}
	.upload-vdo-section .zone label {
		font-size: 16px;
		line-height: 50px;
	}
	.upload-vdo-section .zone label, .upload-vdo-section .zone input {
		height: 50px;
	}
	.upload-vdo-section .zone #dropZ .select2 {
		font-size: 16px;
	}
	.upload-vdo-section .zone .selectFile {
		height: 50px;
		margin: 0;
		margin-top: 10px;
		width: 225px;
	}
	.upload-vdo-section .zone #dropZ .select2 {
		height: 50px;
		width: 100% !important;
	}
	.upload-vdo-section .zone #dropZ p {
		color: #383838;
		font-size: 16px;
		margin: 15px auto;
	}
	.upload-vdo-section .zone #dropZ h3 {
		margin: 15px auto;
		font-size: 20px;
	}
	.upload-vdo-section .zone #dropZ span img{
		width: 180px;
	}
	.pagination a {
		color: #666666;
		padding: 12px 12px;
		text-decoration: none;
		transition: background-color .3s;
		border-right: 1px solid #e2e2e2;
		display: inline-block;
	}
	.banner {
		margin-top: 69px;
	}
	.theme-btn, .gray-theme-btn, .upload {
		margin-top: 15px !important;
	}
	.mychannel-banner {
		margin-top: 69px;
	}
	.clear-history label {
		border-left: none;
		margin: 0;
	}
	.recommanded .right-side-grid .icon-trash {
		margin-left: 0px;
	}
	.admin-banner .modal-body, .admin-banner .modal-header {
		padding: 15px 0;
	}
	.admin-banner .modal-dialog {
		min-width: 300px;
	}
	.upload-vdo-section .zone i {
		text-align: center;
		font-size: 4em;
		color: #4285F4;
		margin-top: 50px;
	}
	.list-group {
		margin-bottom: 0 !important;
		padding: 15px 15px;
	}
	.ad .white-close {
		position: absolute;
		top: 18px;
		right: 10px;
		cursor: pointer;
	}
	.popup-form .modal-dialog{
		width: 300px;
		margin: 20px auto;
	}
	.first-search-icon {
		line-height: 69px;
	}
	header nav .side-bar li.bar i{
		font-size: 16px;
	}
	.edit-delete a .icon-edit {
		color: #707070;
		font-size: 18px;
	}
	.login-with .social-share li {
		display: inline-block;
		text-align: center;
		padding: 0;
		margin: 10px 5px;
		height: 40px;
		width: 40px;
		border-radius: 50% !important;
		line-height: 45px;
	}
	.login-with li a .icon {
		font-size: 16px;
		margin: 0;
		color: #fff;
	}
	header nav .navbar-brand span:last-child {
		 vertical-align: middle; 
	}
	.trending-filter-section .well .right-filter-grid {
		float: none;	
	}
	.channel-comment-page .video-section li.view-all-cmt {
		margin-left: 0px;
	}
	.search-section .search-form .search-panel {
	width: 100px;
	}
	.search-section .search-form .search-btn button .icon-search {
	font-size: 15px;
	}
	.description .vdo-description .vdo-title ul.dropdown-menu {
		left: 15px;
	}
	.all-videos .video-section .about-video li.review {
		float: none;
		margin-left: 0px;
		display: inline-block;
		width: 100%;
		margin-top: 10px;
	}
	.all-videos .video-section .about-video li.review .icon-star, .all-videos .video-section .about-video li.review .icon-star-empty{
		margin-right: 7px;
		font-size: 16px;
	}
	.all-videos .video-section .about-video li.user i {
		margin-right: 10px;
	}
	.all-videos .video-section .about-video li.date {
		margin-left: 15px;
	}
	.all-videos .video-section .video-title {
		line-height: 24px;
	}
}

@media(max-width:359px) {
	.copy-right p {
		color: #fff;
		font-family: "Open Sans";
		font-size: 12px;
		line-height: 70px;
	}
	.uploading-vdo-section .other-video-clip .col-xs-4, .uploading-vdo-section .other-video-clip .col-xs-8{
		width: 100%;
	}
	header nav#cssmenu .logo-bar li.bar a .icon-menu{
		font-size: 16px;
	}
	header nav#cssmenu .logo-bar li.bar a{
		padding-right: 0px;
		padding-left: 5px;
	}
	.nav-search-icon .icon-search {
		vertical-align: middle;
		font-size: 16px;
	}
	.first-search-icon {
		line-height: 69px;
		padding: 0 8px;
	}
	header nav .navbar-brand {
		margin-top: 16px;
		padding: 4px 8px;
		height: auto;
		font-size: 12px;
	}
	.my-channel-des .related-vdo .up-nxt-vdo .col-lg-8.col-md-8.col-sm-8.col-xs-8 {

		width: calc(100% - 100px) !important;
		float: left !important;

	}
	.other-video-clip .up-nxt-vdo .vdo-img {
		width: 100%;
		overflow: hidden;
		background-color: #db4437;
		height: 100%;
	}
	.other-video-clip .up-nxt-vdo .vdo-img .duration {
		right: 15px;
	}
	.other-video-clip .up-nxt-vdo .col-md-4{
		margin:0px;
		padding: 0 15px;
		height: 100px;
	}
	.other-video-clip .up-nxt-vdo .col-md-8 {
		width: 100%;
	}
	.my-channel-des .related-vdo .up-nxt-vdo .col-lg-4.col-md-4.col-sm-4.col-xs-4 {
		width: 60px !important;
		float: left !important;
		height: 60px;
		padding: 0;
		margin-left: 15px;
	}
	.press-profile .press-detail li {		
		margin: 5px;
		
	}
	.press-profile .press-detail h4 {
		font-size: 18px;
		margin-top: 15px;
	}
	.date-picker {
		padding: 0px 0;
	}
	.merchandise {
		display: block;
		padding: 15px 20px;
	}
	.comment-section .card .card-body .col-md-10 {
		float: none;
		width: 100%;
	}
	.comment-section .card .card-body .col-md-2 {
		float: none;
		width: 80px !important;
		margin-right: 15px;
	}
	.profile-edit-form .vdo-upload-search .selectFile label {
		font-size: 14px;
	}
	.profile-edit-form .change-ps .vdo-post-btn-section, .profile-edit-form .vdo-post-btn-section {
		display: inline-block;
		margin-right: 7px;
	}
	.all-videos .video-section .video-btn li .icon-view {
		font-size: 12px;
	}
	.all-videos .video-section .video-btn li i {
		margin-right: 2px;
	}
	.all-videos .video-section .view-btn a span {
		font-size: 13px;
	}
	.all-videos .video-section .care-btn a span {
		font-size: 13px;
	}
}

